Repository devonfw/IDEasy, pull requests merged in 2023-09, with the labels that each got.

#11 #5: initial documentation
  cli/pom.xml
  documentation/IDEasy-advanced.asciidoc
  documentation/IDEasy-introduction.asciidoc
  documentation/IDEasy-support.asciidoc
  documentation/IDEasy-usage.asciidoc
  documentation/IDEasy.asciidoc
  documentation/LICENSE.asciidoc
  documentation/advanced-tooling-generic.asciidoc
  documentation/advanced-tooling-linux.asciidoc
  documentation/advanced-tooling-mac.asciidoc
  documentation/advanced-tooling-windows.asciidoc
  documentation/advanced-tooling.asciidoc
  documentation/cli.asciidoc
  documentation/conf.asciidoc
  documentation/configuration.asciidoc
  documentation/configurator.asciidoc
  documentation/devonfw-ide-contribution-getting-started.asciidoc
  documentation/devonfw-ide.asciidoc
  documentation/docker-desktop-alternative.asciidoc
  documentation/features.asciidoc
  documentation/how-to-unlock-files.asciidoc
  documentation/images/Design.drawio
  documentation/images/Design.png
  documentation/images/EnablingDockerd.png
  documentation/images/Rancher-Desktiop-Networking-Tunnel.png
  documentation/images/WindowsTerminal.png
  documentation/images/finder-integration.png
  documentation/images/keyboard-layouts.png
  documentation/images/keyboard-modifier-keys.png
  documentation/images/keyboard-shortcuts.png
  documentation/images/tools-tabs-explorer.png
  documentation/images/tools-tabs-firefox.png
  documentation/images/tools-tabs-ssh.png
  documentation/log.asciidoc
  documentation/lombok.asciidoc
  documentation/pom.xml
  documentation/projects.asciidoc
  documentation/scripts.asciidoc
  documentation/settings.asciidoc
  documentation/setup.asciidoc
  documentation/software.asciidoc
  documentation/structure.asciidoc
  documentation/system.asciidoc
  documentation/updates.asciidoc
  documentation/usage.asciidoc
  documentation/variables.asciidoc
  documentation/workspaces.asciidoc
  pom.xml
Labels: documentation, bash

#42 #5: Fixed EnvironmentCommandlet
  cli/src/main/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/environment/VariableLine.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandletTest.java
Labels: bash

#46 #41 reworked documentation
  .mvn/settings.xml
  README.adoc
  documentation/IDEasy-contribution-getting-started.asciidoc
  documentation/advanced-tooling-mac.asciidoc
  documentation/cli.asciidoc
  documentation/conf.asciidoc
  documentation/configuration.asciidoc
  documentation/configurator.asciidoc
  documentation/devonfw-ide.asciidoc
  documentation/lombok.asciidoc
  documentation/projects.asciidoc
  documentation/settings.asciidoc
  documentation/setup.asciidoc
  documentation/software.asciidoc
  documentation/structure.asciidoc
  documentation/system.asciidoc
  documentation/usage.asciidoc
  documentation/variables.asciidoc
Labels: documentation, enhancement, bash

#50 #49: fixed duplicate PATH exception
  cli/src/main/java/com/devonfw/tools/ide/common/SystemPath.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/variable/VariableDefinitionSystemPath.java
Labels: bash

#2 Add release workflow
  .github/workflows/clean-runs.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
  .github/workflows/test-release.yml
  cli/pom.xml
  cli/src/main/assembly/exec.xml
Labels: SCM, bash

#54 Remove test workflow
  .github/workflows/test-release.yml
  cli/src/main/assembly/exec.xml
Labels: SCM, bash

#57 OMG, never omit exception cause
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
Labels: bug, enhancement, bash

#62 BugFix Nigthly Build
  .github/workflows/nightly-build.yml
Labels: SCM, bash

#60 #5: fixed assertLogMessage
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
Labels: bash

#59 #23: implemented tool commandlet for gradle
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/gradle/Gradle.java
  cli/src/main/resources/nls/Ide.properties
Labels: enhancement, gradle, bash

#58 small improvements
  cli/src/main/java/com/devonfw/tools/ide/environment/AbstractEnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  documentation/pom.xml
Labels: documentation, bash, environment

#51 #24: added Helm Toolcommandlet
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/helm/Helm.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
Labels: helm, bash

#48 #35 Implement ToolCommandlet for Terraform
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/terraform/Terraform.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
Labels: bash
