Repository devonfw/IDEasy, pull requests merged in 2023-11, with the labels that each got.

#113 #47: Support for global tools
  cli/src/main/java/com/devonfw/tools/ide/tool/GlobalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/az/Azure.java
  cli/src/main/java/com/devonfw/tools/ide/tool/gh/Gh.java
  cli/src/main/java/com/devonfw/tools/ide/tool/gradle/Gradle.java
  cli/src/main/java/com/devonfw/tools/ide/tool/helm/Helm.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/java/Java.java
  cli/src/main/java/com/devonfw/tools/ide/tool/kotlinc/Kotlinc.java
  cli/src/main/java/com/devonfw/tools/ide/tool/kotlinc/KotlincNative.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/main/java/com/devonfw/tools/ide/tool/node/Node.java
  cli/src/main/java/com/devonfw/tools/ide/tool/oc/Oc.java
  cli/src/main/java/com/devonfw/tools/ide/tool/quarkus/Quarkus.java
  cli/src/main/java/com/devonfw/tools/ide/tool/terraform/Terraform.java
  cli/src/main/java/com/devonfw/tools/ide/tool/vscode/Vscode.java
Labels: enhancement, software, commandlet, install

#128 remove link to cmdlet docs because onfigurator replaces cmdlets
  documentation/settings.asciidoc
Labels: documentation, enhancement

#135 #10: improve IDE support and configure workspace
  cli/src/main/java/com/devonfw/tools/ide/cli/CliArgument.java
  cli/src/main/java/com/devonfw/tools/ide/cli/Ide.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/HelpCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/configurator/Args.java
  cli/src/main/java/com/devonfw/tools/ide/configurator/Configurator.java
  cli/src/main/java/com/devonfw/tools/ide/configurator/merge/DirectoryMerger.java
  cli/src/main/java/com/devonfw/tools/ide/configurator/merge/FallbackMerger.java
  cli/src/main/java/com/devonfw/tools/ide/configurator/merge/FileMerger.java
  cli/src/main/java/com/devonfw/tools/ide/configurator/merge/FileTypeMerger.java
  cli/src/main/java/com/devonfw/tools/ide/configurator/merge/PropertiesMerger.java
  cli/src/main/java/com/devonfw/tools/ide/configurator/resolve/VariableResolver.java
  cli/src/main/java/com/devonfw/tools/ide/configurator/resolve/VariableResolverImpl.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/environment/AbstractEnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariablesResolved.java
  cli/src/main/java/com/devonfw/tools/ide/environment/SortedProperties.java
  cli/src/main/java/com/devonfw/tools/ide/environment/VariableLine.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/logging/Log.java
  cli/src/main/java/com/devonfw/tools/ide/logging/Output.java
  cli/src/main/java/com/devonfw/tools/ide/merge/AbstractWorkspaceMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/DirectoryMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/FallbackMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/FileMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/JsonMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/PropertiesMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/WorkspaceMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/XmlMerger.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/Intellij.java
  cli/src/main/java/com/devonfw/tools/ide/variable/IdeVariables.java
  cli/src/main/java/com/devonfw/tools/ide/variable/VariableDefinition.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/VersionSetCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/configurator/ConfiguratorTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/environment/SortedPropertiesTest.java
  cli/src/test/java/com/devonfw/tools/ide/merge/DirectoryMergerTest.java
  cli/src/test/resources/templates/setup/config/layout.xml
  cli/src/test/resources/templates/setup/json/settings.json
  cli/src/test/resources/templates/update/config/merge.xml
  cli/src/test/resources/templates/update/json/settings.json
  cli/src/test/resources/templates/update/main.prefs
Labels: vscode, eclipse, intellij, workspace
