Repository devonfw/IDEasy, pull requests merged in 2023-10, with the labels that each got.

#66 #61 removed Pull requests labeler
  .github/labeler.yml
  .github/workflows/label-pr.yml
Labels: SCM, bash

#64 #28 Implement ToolCommandlet for Kotlin
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/kotlinc/Kotlinc.java
  cli/src/main/java/com/devonfw/tools/ide/tool/kotlinc/KotlincNative.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
Labels: bash

#71 #70: trying to fix nightly deploy of native-images
  .github/workflows/nightly-build.yml
Labels: SCM

#53 #8: implemented progress bar
  cli/pom.xml
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContextConsole.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/io/IdeProgressBar.java
  cli/src/main/java/com/devonfw/tools/ide/io/IdeProgressBarConsole.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/io/IdeProgressBarTest.java
  cli/src/test/java/com/devonfw/tools/ide/io/IdeProgressBarTestImpl.java
  documentation/LICENSE.asciidoc
Labels: documentation, enhancement

#67 #32: implemented Openshift CLI toolCommandlet
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/oc/Oc.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
Labels: commandlet

#65 #33 implemented Quarkus Toolcommandlet
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/common/Tags.java
  cli/src/main/java/com/devonfw/tools/ide/tool/quarkus/Quarkus.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
Labels: commandlet

#74 #5: cli fixes
  cli/src/main/java/com/devonfw/tools/ide/cli/Ide.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/HelpCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/property/Property.java
Labels: CLI

#90 #89: fix deletion of the copied msi file
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
Labels: bug, enhancement, unpack

#84 #37: implemented tool commandlet for Vscode
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/vscode/Vscode.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
Labels: enhancement, vscode, commandlet

#86 #69: add support for executing scripts
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
Labels: bash

#92 #79: Simplified multi-keyword commandlets
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionGetCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionListCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionSetCommandlet.java
Labels: enhancement

#99 #14: Implement ToolCommandlet for Azure CLI
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/tool/az/Azure.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
Labels: az, commandlet

#115 Update AssertJ to 3.24.2
  cli/src/test/java/com/devonfw/tools/ide/tool/UrlUpdaterTest.java
  pom.xml
Labels: test, update

#111 #85: Fixed the executing order of the tools
  cli/src/main/java/com/devonfw/tools/ide/common/SystemPath.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
Labels: bug

#124 #123 Added missing image
  documentation/images/ResourceManager.png
Labels: documentation, enhancement

#105 #82: Softlink creation requires admin privileges during software installation
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  documentation/images/LSPAddUser.png
  documentation/images/LSPPoperty.png
  documentation/images/LocalSecurityPolicy.png
  documentation/symlink.asciidoc
Labels: windows, install, bugfix

#125 #121 Windows version of latest rancher desktop is missing
  cli/src/main/java/com/devonfw/tools/ide/tool/docker/DockerRancherDesktopUrlUpdater.java
Labels: urls, windows, rancher, bugfix
