Repository devonfw/IDEasy, pull requests merged in 2024-04, with the labels that each got.

#278 #277 fix git clone hangs
  cli/src/main/java/com/devonfw/tools/ide/context/GitContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
Labels: bug, blocker, CLI, bugfix

#281 #239 Test for Environment Variables fails
  cli/src/test/java/com/devonfw/tools/ide/context/IdeContextTest.java
Labels: bug

#270 #260: Implement exit code in wrapper script
  cli/src/main/package/bin/ide
Labels: bash, CLI, bugfix

#258 #206: Implemented UninstallCommandlet
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/UninstallCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UninstallCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/resources/ide-projects/basic/project/software/npm/bin/readme
Labels: enhancement, commandlet, uninstall

#290 #154 Show project name in header of intellij
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/merge/DirectoryMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/FallbackMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/FileMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/TextMerger.java
  cli/src/main/java/com/devonfw/tools/ide/variable/IdeVariables.java
  cli/src/test/java/com/devonfw/tools/ide/merge/DirectoryMergerTest.java
  cli/src/test/resources/templates/setup/.name
  cli/src/test/resources/templates/update/.name
Labels: enhancement, intellij

#295 #293: log warning instead of assertion in Step for robustness
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/step/Step.java
  cli/src/main/java/com/devonfw/tools/ide/step/StepImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeSlf4jLogger.java
  cli/src/test/java/com/devonfw/tools/ide/step/StepTest.java
Labels: bugfix, step
