Repository devonfw/IDEasy, pull requests merged in 2024-10, with the labels that each got.

#668 #223: use only dynamic ports for wiremock
  cli/src/test/java/com/devonfw/tools/ide/tool/java/JavaUrlUpdaterMock.java
  cli/src/test/java/com/devonfw/tools/ide/tool/java/JavaUrlUpdaterTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/npm/NpmJsonUrlUpdaterTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/npm/NpmUrlUpdaterMock.java
  cli/src/test/resources/integrationtest/NpmJsonUrlUpdater/npm-version.json
Labels: enhancement, test, download

#667 #659: #664: fix deps
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/tomcat/Tomcat.java
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/tomcat/TomcatTest.java
  cli/src/test/resources/ide-projects/intellij/_ide/urls/intellij/intellij/2023.3.3/urls
  cli/src/test/resources/ide-projects/intellij/_ide/urls/java/java/17.0.10_7/urls
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/linux/bin/idea.sh
  cli/src/test/resources/ide-projects/tomcat/repository/java/java/default/bin/java.bat
  cli/src/test/resources/ide-projects/tomcat/repository/tomcat/tomcat/default/bin/catalina.bat
  cli/src/test/resources/ide-projects/tomcat/repository/tomcat/tomcat/default/bin/catalina.sh
Labels: tomcat, bugfix, dependency

#670 #590: Fix Asciidoc files in documentation causing errors
  documentation/LICENSE.adoc
  documentation/projects.adoc
  documentation/proxy-support.adoc
Labels: documentation, bugfix

#677 #676: Fix typos in coding-conventions asciidoc
  documentation/coding-conventions.adoc
Labels: documentation

#679 #675: Fix typos in DoD asciidoc
  documentation/DoD.adoc
Labels: documentation

#681 devonfw/ide-urls#17: fix UrlUpdater to auto-remove broken URLs and allow self-repair
  cli/src/main/java/com/devonfw/tools/ide/io/HttpErrorResponse.java
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/EclipseJavaUrlUpdater.java
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/EclipseUrlUpdater.java
  cli/src/main/java/com/devonfw/tools/ide/url/UpdateInitiator.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/AbstractUrlArtifactWithParent.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/UrlArtifactWithParent.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/AbstractUrlFile.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/UrlStatusFile.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/json/StatusJson.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/json/UrlStatus.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/folder/AbstractUrlFolder.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlFolder.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/report/UrlUpdaterReport.java
  cli/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  cli/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  cli/src/main/java/com/devonfw/tools/ide/util/DateTimeUtil.java
  cli/src/main/resources/logback.xml
  cli/src/test/java/com/devonfw/tools/ide/tool/UrlUpdaterTest.java
  cli/src/test/java/com/devonfw/tools/ide/url/model/file/UrlStatusFileTest.java
  cli/src/test/java/com/devonfw/tools/ide/url/model/file/json/StatusJsonTest.java
  cli/src/test/java/com/devonfw/tools/ide/url/report/UrlUpdaterReportTest.java
  cli/src/test/java/com/devonfw/tools/ide/url/report/UrlUpdaterTestReport.java
Labels: urls, eclipse

#688 #687: prevent checksum recheck
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/json/UrlStatusState.java
  cli/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  cli/src/test/java/com/devonfw/tools/ide/tool/UrlUpdaterMock.java
  cli/src/test/java/com/devonfw/tools/ide/tool/UrlUpdaterTest.java
  cli/src/test/java/com/devonfw/tools/ide/url/report/UrlUpdaterReportTest.java
Labels: urls, bugfix

#686 #685: update dependencies, added missing deps to LICENSE.adoc, doc rework, jakarta migration
  cli/pom.xml
  cli/src/main/java/com/devonfw/tools/ide/merge/JsonMerger.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolRepositoryImpl.java
  cli/src/test/java/com/devonfw/tools/ide/merge/DirectoryMergerTest.java
  documentation/DoD.adoc
  documentation/IDEasy-usage.adoc
  documentation/LICENSE.adoc
  documentation/images/design.puml
  documentation/project.adoc
  documentation/projects.adoc
  documentation/repository.adoc
  documentation/settings.adoc
Labels: documentation, enhancement, update, dependency

#707 #533: Add autocompletion of exit in ide shell
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/ShellCommandlet.java
Labels: enhancement, completion, shell

#693 #693: Setup file not working on Mac
  cli/src/main/package/setup
Labels: macOS, bugfix

#711 #302: Added plugin support for GraalVM
  cli/src/main/java/com/devonfw/tools/ide/tool/graalvm/GraalVm.java
Labels: enhancement

#712 Update ProcessContext.java: fixed crazy bug with pointless vararg for List
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContext.java
Labels: enhancement, process

#713 Update Eclipse.java: plugin url needed
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
Labels: enhancement, eclipse, plugins

#719 #710: make workspace configuration robust
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/merge/DirectoryMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/FallbackMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/FileMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/JsonMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/PropertiesMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/TextMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/WorkspaceMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xmlmerger/XmlMerger.java
  cli/src/main/java/com/devonfw/tools/ide/step/StepImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
Labels: enhancement, workspace, step

#725 #673: fixed tomcat and improved logging
  cli/src/main/java/com/devonfw/tools/ide/commandlet/Commandlet.java
  cli/src/main/java/com/devonfw/tools/ide/repo/DefaultToolRepository.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/graalvm/GraalVm.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/json/ToolDependencies.java
Labels: enhancement, logging, dependency

#722 Fixed external github ref example
  documentation/IDEasy-contribution-rules-and-guidelines.adoc
Labels: documentation
