Repository devonfw/IDEasy, pull requests merged in 2024-06, with the labels that each got.

#332 #331: fixed CobiGen installation
  cli/src/main/java/com/devonfw/tools/ide/tool/cobigen/CobigenUrlUpdater.java
  cli/src/test/java/com/devonfw/tools/ide/tool/cobigen/CobigenTest.java
  cli/src/test/resources/ide-projects/cobigen/project/settings/ide.properties
  cli/src/test/resources/ide-projects/cobigen/project/workspaces/main/readme
  cli/src/test/resources/ide-projects/cobigen/repository/cobigen/cobigen/default/bin/cobigen
  cli/src/test/resources/ide-projects/cobigen/repository/java/java/default/bin/java
  cli/src/test/resources/ide-projects/cobigen/repository/java/java/default/bin/java.cmd
  cli/src/test/resources/ide-projects/cobigen/repository/mvn/mvn/default/bin/mvn
Labels: cobigen, bugfix

#354 #316: fix Jasypt version
  cli/src/main/java/com/devonfw/tools/ide/tool/jasypt/JasyptUrlUpdater.java
  cli/src/main/java/com/devonfw/tools/ide/url/updater/MavenBasedUrlUpdater.java
Labels: jasypt, bugfix

#394 #360 validation of multivalued properties
  cli/src/main/java/com/devonfw/tools/ide/property/Property.java
Labels: CLI

#358 #345: Improve Jasypt ToolCommandlet
  cli/src/main/java/com/devonfw/tools/ide/tool/jasypt/Jasypt.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/tool/jasypt/JasyptTest.java
  cli/src/test/resources/ide-projects/jasypt/repository/java/java/default/bin/java
Labels: enhancement, jasypt

#393 #321: refactoring to improve path conversion logic
  cli/src/main/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/common/SystemPath.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/environment/AbstractEnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariablesMap.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariablesResolved.java
  cli/src/main/java/com/devonfw/tools/ide/os/WindowsPathSyntax.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/variable/VariableDefinition.java
  cli/src/main/java/com/devonfw/tools/ide/variable/VariableDefinitionPath.java
  cli/src/main/java/com/devonfw/tools/ide/variable/VariableDefinitionStringList.java
  cli/src/main/java/com/devonfw/tools/ide/variable/VariableDefinitionSystemPath.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/common/SystemPathTest.java
  cli/src/test/java/com/devonfw/tools/ide/os/WindowsPathSyntaxTest.java
Labels: enhancement, windows, environment

#397 #395 Uninstall graalvm successfully
  cli/src/main/java/com/devonfw/tools/ide/commandlet/UninstallCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/GlobalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
Labels: graalvm, uninstall
