Repository devonfw/IDEasy, pull requests merged in 2024-12, with the labels that each got.

#828 #824: fix git url with branch
  cli/src/main/java/com/devonfw/tools/ide/cli/CliException.java
  cli/src/main/java/com/devonfw/tools/ide/cli/CliOfflineException.java
  cli/src/main/java/com/devonfw/tools/ide/cli/CliProcessException.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractUpdateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/RepositoryCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/RepositoryConfig.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/StatusCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitUrl.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/git/GitContext.java
  cli/src/main/java/com/devonfw/tools/ide/git/GitContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/git/GitOperation.java
  cli/src/main/java/com/devonfw/tools/ide/git/GitUrl.java
  cli/src/main/java/com/devonfw/tools/ide/git/GitUrlSyntax.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessResult.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessResultImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/main/java/com/devonfw/tools/ide/variable/IdeVariables.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextMock.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/ProcessContextGitMock.java
  cli/src/test/java/com/devonfw/tools/ide/git/GitContextMock.java
  cli/src/test/java/com/devonfw/tools/ide/git/GitContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/git/GitOperationTest.java
  cli/src/test/java/com/devonfw/tools/ide/git/GitUrlSyntaxTest.java
  cli/src/test/java/com/devonfw/tools/ide/git/GitUrlTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/ide/IdeToolDummyCommandletTest.java
Labels: enhancement, bugfix, git, create

#831 #830: fixed missing version
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
  cli/pom.xml
Labels: bugfix

#839 #832: fixed tools not starting on Windows
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/androidstudio/AndroidStudio.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/Intellij.java
  cli/src/main/java/com/devonfw/tools/ide/tool/tomcat/Tomcat.java
  cli/src/main/resources/nls/Help_de.properties
Labels: android-studio, intellij, tomcat, bugfix, internal

#838 #837: Changed type of exception
  cli/src/main/java/com/devonfw/tools/ide/git/GitContextImpl.java
Labels: git

#845 #844: ensure logging is enabled when an error occurred or CLI parameters are invalid
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
Labels: bugfix, logging

#847 #846: fix version shortopt (-v)
  cli/src/main/java/com/devonfw/tools/ide/commandlet/Commandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/HelpCommandlet.java
Labels: commandlet, CLI, bugfix, internal, version

#849 #791: unique SNAPSHOT versions
  .github/workflows/nightly-build.yml
Labels: enhancement, SCM, release

#835 #799: fix zip extraction to preserve file attributes
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContextConsole.java
  cli/src/main/java/com/devonfw/tools/ide/io/AbstractIdeProgressBar.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileCopyMode.java
  cli/src/main/java/com/devonfw/tools/ide/io/IdeProgressBar.java
  cli/src/main/java/com/devonfw/tools/ide/io/IdeProgressBarConsole.java
  cli/src/main/java/com/devonfw/tools/ide/io/PathCopyListener.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/io/FileAccessImplTest.java
  cli/src/test/java/com/devonfw/tools/ide/io/IdeProgressBarConsoleTest.java
  cli/src/test/java/com/devonfw/tools/ide/io/IdeProgressBarTest.java
  cli/src/test/java/com/devonfw/tools/ide/io/IdeProgressBarTestImpl.java
  cli/src/test/java/com/devonfw/tools/ide/tool/androidstudio/AndroidStudioTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
Labels: macOS, linux, unpack

#876 #834 : support for --help
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/HelpCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/property/KeywordProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/Property.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/completion/CompleteTest.java
  cli/src/test/java/com/devonfw/tools/ide/property/CommandletPropertyTest.java
Labels: enhancement, CLI

#880 #879: allow `-` as value
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/property/Property.java
Labels: CLI, bugfix

#884 #799: clean code improvements
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/io/PathCopyListener.java
Labels: enhancement, core, internal

#883 #875: fix lazydocker
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/lazydocker/LazyDocker.java
Labels: bugfix, lazydocker

#890 #888: fixed graalvm gu
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/cli/CliProcessException.java
  cli/src/main/java/com/devonfw/tools/ide/tool/graalvm/GraalVm.java
Labels: graalvm, native-image, bugfix

#899 #834: bugfix for long options of commandlets
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/property/KeywordProperty.java
Labels: CLI, bugfix
