Repository devonfw/IDEasy, pull requests merged in 2024-09, with the labels that each got.

#581 #534: fixed smart git pull
  cli/src/main/java/com/devonfw/tools/ide/context/GitContextImpl.java
Labels: CLI, completion, git, core

#568 #294: Ensure parent directory exists and skip reading if file not exists
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariablesPropertiesFile.java
  cli/src/test/java/com/devonfw/tools/ide/environment/EnvironmentVariablesPropertiesFileTest.java
Labels: enhancement

#535 #398: added more help details in en and de
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
Labels: enhancement, help

#584 #126: Add Monitoring for IDE Urls Updater
  cli/src/main/java/com/devonfw/tools/ide/url/UpdateInitiator.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/report/UrlFinalReport.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/report/UrlUpdaterReport.java
  cli/src/main/java/com/devonfw/tools/ide/url/updater/AbstractProcessorWithTimeout.java
  cli/src/main/java/com/devonfw/tools/ide/url/updater/AbstractUrlUpdater.java
  cli/src/main/java/com/devonfw/tools/ide/url/updater/JsonUrlUpdater.java
  cli/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  cli/src/test/java/com/devonfw/tools/ide/url/report/UrlUpdaterReportTest.java
  cli/src/test/java/com/devonfw/tools/ide/url/report/UrlUpdaterTestReport.java
Labels: urls, SCM

#597 #585: fix if FETCH_HEAD does not exist, also fixed behavior on force mode
  cli/src/main/java/com/devonfw/tools/ide/commandlet/RepositoryCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitOperation.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextMock.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitOperationTest.java
Labels: bugfix, git

#605 #604: Fix MAVEN_ARGS Path Format for Windows
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
Labels: mvn, environment, bugfix

#617 #557: fix json mapping
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/github/GithubTag.java
  cli/src/main/java/com/devonfw/tools/ide/github/GithubTags.java
  cli/src/main/java/com/devonfw/tools/ide/json/JsonMapping.java
  cli/src/main/java/com/devonfw/tools/ide/json/JsonObject.java
  cli/src/main/java/com/devonfw/tools/ide/json/JsonVersionItem.java
  cli/src/main/java/com/devonfw/tools/ide/json/VersionIdentifierDeserializer.java
  cli/src/main/java/com/devonfw/tools/ide/json/VersionRangeDeserializer.java
  cli/src/main/java/com/devonfw/tools/ide/json/VersionRangeKeyDeserializer.java
  cli/src/main/java/com/devonfw/tools/ide/npm/NpmJsonObject.java
  cli/src/main/java/com/devonfw/tools/ide/npm/NpmJsonVersion.java
  cli/src/main/java/com/devonfw/tools/ide/npm/NpmJsonVersions.java
  cli/src/main/java/com/devonfw/tools/ide/tool/Dependency.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/androidstudio/AndroidJsonDownload.java
  cli/src/main/java/com/devonfw/tools/ide/tool/androidstudio/AndroidJsonItem.java
  cli/src/main/java/com/devonfw/tools/ide/tool/androidstudio/AndroidJsonObject.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/IntellijJsonObject.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/IntellijJsonRelease.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/IntellijUrlUpdater.java
  cli/src/main/java/com/devonfw/tools/ide/tool/java/JavaJsonObject.java
  cli/src/main/java/com/devonfw/tools/ide/tool/java/JavaJsonVersion.java
  cli/src/main/java/com/devonfw/tools/ide/tool/python/PythonJsonObject.java
  cli/src/main/java/com/devonfw/tools/ide/tool/python/PythonRelease.java
  cli/src/main/java/com/devonfw/tools/ide/tool/python/PythonUrlUpdater.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/UrlDependencyFile.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/UrlStatusFile.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/json/DependencyInfo.java
  cli/src/main/java/com/devonfw/tools/ide/url/updater/JsonUrlUpdater.java
  cli/src/main/java/com/devonfw/tools/ide/version/VersionIdentifier.java
  cli/src/main/java/com/devonfw/tools/ide/version/VersionRange.java
  cli/src/test/java/com/devonfw/tools/ide/json/JsonMappingTest.java
  cli/src/test/java/com/devonfw/tools/ide/version/VersionRangeTest.java
Labels: urls, bugfix

#614 #556: update PATH on pc run
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/common/SystemPath.java
  cli/src/main/java/com/devonfw/tools/ide/process/EnvironmentContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/context/ProcessContextGitMock.java
Labels: environment, bugfix, process

#622 #621: fixed ID fallback for XML merger
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/merge/xmlmerger/matcher/ElementMatcher.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xmlmerger/model/MergeElement.java
  cli/src/test/java/com/devonfw/tools/ide/merge/XmlMergerTest.java
  cli/src/test/resources/xmlmerger/id-fallback/result.xml
  cli/src/test/resources/xmlmerger/id-fallback/source.xml
  cli/src/test/resources/xmlmerger/id-fallback/target.xml
Labels: configuration, bugfix, workspace

#635 fix HelpCommandletTest to work locale insensitive
  cli/src/test/java/com/devonfw/tools/ide/commandlet/HelpCommandletTest.java
Labels: test, bugfix

#636 #634: preparation: change DependencyInfo to record
  cli/src/main/java/com/devonfw/tools/ide/tool/Dependency.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/json/DependencyInfo.java
Labels: enhancement, configuration, dependency

#624 #623: fix CliArgument prepend/append
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/cli/CliArgument.java
  cli/src/main/java/com/devonfw/tools/ide/tool/androidstudio/AndroidStudio.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/Intellij.java
  cli/src/test/java/com/devonfw/tools/ide/cli/CliArgumentTest.java
Labels: CLI, bugfix, core

#638 #628: Fixed update fails on first error
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractUpdateCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UpdateCommandletTest.java
  cli/src/test/resources/ide-projects/update/repository/java/java/default/bin/java
  cli/src/test/resources/ide-projects/update/repository/mvn/mvn/default/bin/mvn
Labels: update, bugfix

#641 #634: added DependencyInfoDeserializer
  cli/src/main/java/com/devonfw/tools/ide/json/DependencyInfoDeserializer.java
  cli/src/main/java/com/devonfw/tools/ide/json/JsonMapping.java
  cli/src/test/java/com/devonfw/tools/ide/json/JsonMappingTest.java
Labels: configuration, bugfix, dependency

#642 #588: reload context after clone settings
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractUpdateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
Labels: settings, bugfix, create

#643 #640: fix xml merger if merge:id is omitted for repated element
  cli/pom.xml
  cli/src/main/java/com/devonfw/tools/ide/merge/xmlmerger/MergeStrategy.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xmlmerger/XmlMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xmlmerger/matcher/ElementMatcher.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xmlmerger/matcher/IdComputer.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xmlmerger/model/MergeElement.java
  cli/src/test/java/com/devonfw/tools/ide/merge/XmlMergerTest.java
  cli/src/test/resources/xmlmerger/id-fallback/result.xml
  cli/src/test/resources/xmlmerger/id-fallback/source.xml
  cli/src/test/resources/xmlmerger/id-fallback/target.xml
Labels: configuration, bugfix, workspace

#645 various improvements (git, processContext, step success)
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessResultImpl.java
  cli/src/main/java/com/devonfw/tools/ide/step/StepImpl.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UpdateCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextMock.java
  cli/src/test/java/com/devonfw/tools/ide/process/ProcessContextImplTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/androidstudio/AndroidStudioTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
Labels: enhancement, git, process, step

#538 #37: Tool commandlet for visual studio code
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/plugin/PluginBasedCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/vscode/Vscode.java
  cli/src/test/java/com/devonfw/tools/ide/tool/vscode/VscodeTest.java
  cli/src/test/resources/ide-projects/vscode/project/settings/ide.properties
  cli/src/test/resources/ide-projects/vscode/project/settings/vscode/plugins/mocedPlugin2.properties
  cli/src/test/resources/ide-projects/vscode/project/settings/vscode/plugins/mockedPlugin.properties
  cli/src/test/resources/ide-projects/vscode/project/workspaces/main/.vscode/extensions.json
  cli/src/test/resources/ide-projects/vscode/repository/vscode/vscode/default/bin/code
  cli/src/test/resources/ide-projects/vscode/repository/vscode/vscode/default/bin/code.cmd
Labels: vscode, plugins

#648 #647: Fixed intelllij freezing bash
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeaBasedIdeToolCommandlet.java
Labels: intellij, bugfix

#660 #647: intellij freeze bash
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/linux/bin/idea.sh
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/mac/IntelliJ IDEA CE.app/Contents/MacOS/idea
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/windows/bin/idea64.exe
Labels: intellij, bugfix

#666 #652: properly report step success/error
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/test/java/com/devonfw/tools/ide/tool/plugin/ExamplePluginBasedCommandlet.java
Labels: plugins, install, bugfix, logging, step

#665 #663: eclipse force loop
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContextConsole.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeSlf4jContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/repo/ToolRepositoryMock.java
  cli/src/test/java/com/devonfw/tools/ide/tool/eclipse/EclipseTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/tomcat/TomcatTest.java
  cli/src/test/resources/ide-projects/eclipse/_ide/urls/eclipse/eclipse/2024-09/urls
  cli/src/test/resources/ide-projects/eclipse/_ide/urls/java/java/17.0.10_7/urls
  cli/src/test/resources/ide-projects/eclipse/_ide/urls/readme
  cli/src/test/resources/ide-projects/eclipse/eclipseproject/conf/ide.properties
  cli/src/test/resources/ide-projects/eclipse/eclipseproject/settings/eclipse/plugins/anyedit.properties
  cli/src/test/resources/ide-projects/eclipse/eclipseproject/settings/eclipse/plugins/devstyle.properties
  cli/src/test/resources/ide-projects/eclipse/eclipseproject/settings/ide.properties
  cli/src/test/resources/ide-projects/eclipse/eclipseproject/workspaces/main/readme
  cli/src/test/resources/ide-projects/eclipse/repository/eclipse/eclipse/default/linux/eclipse
  cli/src/test/resources/ide-projects/eclipse/repository/eclipse/eclipse/default/linux/eclipse.ini
  cli/src/test/resources/ide-projects/eclipse/repository/eclipse/eclipse/default/mac/Eclipse.app/Contents/Eclipse/eclipse.ini
  cli/src/test/resources/ide-projects/eclipse/repository/eclipse/eclipse/default/mac/Eclipse.app/Contents/MacOS/eclipse
  cli/src/test/resources/ide-projects/eclipse/repository/eclipse/eclipse/default/mac/Eclipse.app/Contents/Resources/Eclipse.icns
  cli/src/test/resources/ide-projects/eclipse/repository/eclipse/eclipse/default/mac/Eclipse.app/Contents/_CodeSignature/CodeResources
  cli/src/test/resources/ide-projects/eclipse/repository/eclipse/eclipse/default/windows/eclipse
  cli/src/test/resources/ide-projects/eclipse/repository/eclipse/eclipse/default/windows/eclipsec
  cli/src/test/resources/ide-projects/eclipse/repository/java/java/default/bin/java
  cli/src/test/resources/ide-projects/eclipse/repository/java/java/default/bin/java.cmd
  cli/src/test/resources/ide-projects/tomcat/_ide/urls/java/java/17.0.10_7/urls
  cli/src/test/resources/ide-projects/tomcat/_ide/urls/java/java/21_35/urls
  cli/src/test/resources/ide-projects/tomcat/_ide/urls/java/java/8u402b06/urls
  cli/src/test/resources/ide-projects/tomcat/_ide/urls/tomcat/tomcat/10.1.14/urls
  cli/src/test/resources/ide-projects/tomcat/_ide/urls/tomcat/tomcat/dependencies.json
Labels: eclipse, CLI, install, bugfix

#658 #657: fix installation of java 8
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/InstallCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/tool/androidstudio/AndroidStudioTest.java
  cli/src/test/java/com/devonfw/tools/ide/version/VersionIdentifierTest.java
  cli/src/test/resources/ide-projects/android-studio/_ide/urls/android-studio/android-studio/2024.1.1.1/urls
  cli/src/test/resources/ide-projects/android-studio/repository/android-studio/android-studio/default/linux/bin/studio.sh
  cli/src/test/resources/ide-projects/android-studio/repository/android-studio/android-studio/default/mac/Android Studio Preview.app/Contents/MacOS/studio
  cli/src/test/resources/ide-projects/android-studio/repository/android-studio/android-studio/default/windows/bin/studio64.exe
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/linux/bin/idea.sh
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/windows/bin/idea64.exe
Labels: java, install, bugfix
