Repository devonfw/IDEasy, pull requests merged in 2024-03, with the labels that each got.

#200 #9: background process
  cli/src/main/java/com/devonfw/tools/ide/common/SystemPath.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessMode.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/jmc/Jmc.java
  cli/src/main/java/com/devonfw/tools/ide/tool/terraform/Terraform.java
  cli/src/test/java/com/devonfw/tools/ide/common/SystemPathTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextProcessContextMock.java
  cli/src/test/java/com/devonfw/tools/ide/process/ProcessContextImplTest.java
  pom.xml
Labels: enhancement

#241 #238: improve logging of ToolRepositoryMock as suggested by ndemirca
  cli/src/test/java/com/devonfw/tools/ide/repo/ToolRepositoryMock.java
Labels: enhancement, test, logging

#240 #238: fix process argument logging
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
Labels: bugfix, logging, process

#216 #34: Implemented ToolCommandlet for SonarQube
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/property/EnumProperty.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/sonar/Sonar.java
  cli/src/main/java/com/devonfw/tools/ide/tool/sonar/SonarCommand.java
  cli/src/main/java/com/devonfw/tools/ide/util/PropertiesFileUtil.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
  documentation/IDEasy-usage.asciidoc
  documentation/cli.asciidoc
Labels: enhancement, sonar, commandlet

#253 #252: include documentation into release
  cli/pom.xml
  cli/src/main/assembly/release.xml
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolRepositoryImpl.java
Labels: documentation, enhancement, release, bugfix

#255 #254-1: removed duplication of export PATH environment variable in log
  cli/src/main/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandlet.java
Labels: environment, bugfix

#248 Added Documentation for building an executable with graalvm
  documentation/graalvm-build-guide.adoc
  documentation/images/cppInstall.png
  documentation/images/graalvmMvnArgs.png
Labels: documentation, graalvm

#143 #100: implement repository commandlet
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/RepositoryCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/RepositoryConfig.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitUrl.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/property/RepositoryProperty.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
  cli/src/test/java/com/devonfw/tools/ide/commandlet/RepositoryCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextMock.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextTest.java
Labels: commandlet

#259 #254: fix bash path
  cli/src/main/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/property/VersionProperty.java
Labels: windows, bash, environment, bugfix
