Repository devonfw/IDEasy, pull requests merged in 2024-11, with the labels that each got.

#721 #720: Put IDEasy-contribution-getting-started doc up-to-date.
  documentation/IDEasy-contribution-getting-started.adoc
Labels: documentation

#728 #727: allow fallback to edition independent dependencies.json
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/repo/DefaultToolRepository.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/UrlDependencyFile.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/json/ToolDependencies.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/folder/AbstractUrlToolOrEdition.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlEdition.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlTool.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeSlf4jContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContextMock.java
  cli/src/test/java/com/devonfw/tools/ide/tool/eclipse/EclipseTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
  cli/src/test/java/com/devonfw/tools/ide/url/model/AbstractUrlModelTest.java
  cli/src/test/java/com/devonfw/tools/ide/url/model/file/UrlStatusFileTest.java
  cli/src/test/java/com/devonfw/tools/ide/url/model/file/json/ToolDependenciesTest.java
  cli/src/test/resources/urls/mvn/dependencies.json
  cli/src/test/resources/urls/tomcat/dependencies.json
  cli/src/test/resources/urls/tomcat/tomcat/dependencies.json
Labels: enhancement, test, urls, dependency

#731 #632: added .editorconfig to settings-workspaces
  .editorconfig
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/ShellCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/merge/DirectoryMerger.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandletTest.java
  cli/src/test/resources/ide-projects/basic/project/settings/workspace/update/.editorconfig
  cli/src/test/resources/ide-projects/intellij/project/settings/intellij/workspace/setup/.gitkeep
  cli/src/test/resources/ide-projects/intellij/project/settings/intellij/workspace/update/.gitkeep
  cli/src/test/resources/ide-projects/intellij/project/settings/workspace/update/.editorconfig
Labels: enhancement, configuration, workspace

#746 #745: fix loading and evaluation of variables
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/environment/AbstractEnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariablesPropertiesFile.java
  cli/src/main/java/com/devonfw/tools/ide/environment/VariableLine.java
  cli/src/main/java/com/devonfw/tools/ide/variable/IdeVariables.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeSlf4jContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/environment/EnvironmentVariablesPropertiesFileTest.java
  cli/src/test/java/com/devonfw/tools/ide/environment/VariableLineTest.java
  cli/src/test/resources/com/devonfw/tools/ide/environment/var/devon.properties
Labels: environment, bugfix

#777 #754: bullet proof solution for processable output and logging
  cli/src/main/java/com/devonfw/tools/ide/commandlet/ContextCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/EditionGetCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionGetCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContextConsole.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeStartContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/log/AbstractIdeSubLogger.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLogEntry.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLogExceptionDetails.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLogLevel.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLogListener.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLogListenerBuffer.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLogListenerCollector.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLogListenerNone.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLoggerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeSubLogger.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeSubLoggerNone.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeSubLoggerOut.java
  cli/src/main/java/com/devonfw/tools/ide/step/StepImpl.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EditionGetCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/VersionGetCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeLogEntry.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeSlf4jRootLogger.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeSubLoggerSlf4j.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeSubLoggerTest.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestLogger.java
  cli/src/test/java/com/devonfw/tools/ide/step/StepTest.java
  gui/pom.xml
Labels: enhancement, commandlet, logging

#784 #764: IDEasy not working properly in CMD
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
Labels: android-studio, windows, intellij, tomcat, bugfix

#765 #637: Option to disable updates
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/ContextCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeStartContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeStartContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/commandlet/HelpCommandletTest.java
Labels: enhancement, update

#749 #563 Optimize workflows
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
  cli/pom.xml
  cli/src/main/assembly/release-linux-x64.xml
  cli/src/main/assembly/release-mac-arm.xml
  cli/src/main/assembly/release-mac-x64.xml
  cli/src/main/assembly/release-win-x64.xml
  documentation/github-workflows-reference.adoc
Labels: documentation, SCM

#775 improved test infrastructure to mock aspects of IdeContext
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/TestCommandletManager.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/tool/ide/IdeToolDummyCommandletTest.java
  cli/src/test/resources/settings/dummy/dummy/plugins/plugin1.properties
  cli/src/test/resources/settings/dummy/dummy/plugins/plugin2.properties
Labels: enhancement, test

#811 #778: add icd #779: use functions instead of alias #810: setup in current shell #782: fix IDE_ROOT on linux/mac
  CHANGELOG.adoc
  cli/pom.xml
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariablesSystem.java
  cli/src/main/java/com/devonfw/tools/ide/environment/IdeSystem.java
  cli/src/main/java/com/devonfw/tools/ide/environment/IdeSystemImpl.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/network/NetworkProxy.java
  cli/src/main/java/com/devonfw/tools/ide/network/ProxyConfig.java
  cli/src/main/java/com/devonfw/tools/ide/network/ProxyContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  cli/src/main/package/bin/ide
  cli/src/main/package/completion
  cli/src/main/package/functions
  cli/src/main/package/setup
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/environment/IdeSystemTestImpl.java
  cli/src/test/java/com/devonfw/tools/ide/network/NetworkProxyTest.java
  cli/src/test/java/com/devonfw/tools/ide/network/ProxyContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/jasypt/JasyptTest.java
  documentation/proxy-support.adoc
  documentation/variables.adoc
  pom.xml
Labels: bash, install, completion, bugfix

#819 #810: added warning message to setup
  cli/src/main/package/functions
  cli/src/main/package/setup
Labels: enhancement, install

#817 improve Validation (added JavaDoc, etc.)
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/validation/PropertyValidator.java
  cli/src/main/java/com/devonfw/tools/ide/validation/ValidationResult.java
  cli/src/main/java/com/devonfw/tools/ide/validation/ValidationResultValid.java
  cli/src/main/java/com/devonfw/tools/ide/validation/ValidationState.java
Labels: documentation, enhancement

#816 #758: improve status commandlet
  cli/src/main/java/com/devonfw/tools/ide/commandlet/StatusCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/environment/AbstractEnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariablesPropertiesFile.java
Labels: enhancement, status

#769 #587: check for git installation
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/context/GitContextImpl.java
Labels: enhancement, git
