Repository devonfw/IDEasy, pull requests merged in 2024-08, with the labels that each got.

#502 added properties formatting to .editorconfig
  .editorconfig
Labels: SCM

#480 #339: refactor intellij and android-studio
  cli/src/main/java/com/devonfw/tools/ide/tool/androidstudio/AndroidStudio.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/Intellij.java
  cli/src/test/java/com/devonfw/tools/ide/tool/androidstudio/AndroidStudioTest.java
  cli/src/test/resources/ide-projects/android-studio/project/conf/ide.properties
Labels: android-studio, intellij

#509 #507: improve log assertions
  cli/src/test/java/com/devonfw/tools/ide/commandlet/BuildCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EditionGetCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EditionListCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EditionSetCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/HelpCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/RepositoryCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UninstallCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UpdateCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/VersionGetCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/VersionListCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeLogEntry.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestContextAssertion.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestLogger.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestLoggerAssertion.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestLoggerFactory.java
  cli/src/test/java/com/devonfw/tools/ide/log/PredicateMode.java
  cli/src/test/java/com/devonfw/tools/ide/network/ProxyContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/process/ProcessContextImplTest.java
  cli/src/test/java/com/devonfw/tools/ide/step/StepTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/androidstudio/AndroidStudioTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/cobigen/CobigenTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/dotnet/DotNetTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/jasypt/JasyptTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/jmc/JmcTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/mvn/MvnTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/npm/NpmTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/tomcat/TomcatTest.java
Labels: enhancement, test, logging

#513 #512: fix GitHub actions nightly build
  .github/workflows/check-for-updates.yml
  .github/workflows/nightly-build.yml
Labels: bugfix

#510 #507: improve collect variables
  cli/src/main/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/common/SystemPath.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/environment/AbstractEnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariablesPropertiesFile.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariablesResolved.java
  cli/src/main/java/com/devonfw/tools/ide/environment/VariableLine.java
  cli/src/main/java/com/devonfw/tools/ide/environment/VariableSource.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/main/java/com/devonfw/tools/ide/variable/IdeVariables.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/VersionListCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContextAssertion.java
  cli/src/test/java/com/devonfw/tools/ide/environment/VariableLineTest.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeLogEntry.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestLoggerAssertion.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestLoggerFactory.java
  cli/src/test/java/com/devonfw/tools/ide/step/StepTest.java
  cli/src/test/resources/ide-projects/basic/_ide/bin/ide
  cli/src/test/resources/ide-projects/basic/project/home/environment.properties
  cli/src/test/resources/ide-projects/basic/project/software/mvn/bin/mvn
Labels: enhancement, test, environment, logging

#506 #417: completion improvements #378: setup scripts
  cli/src/main/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandlet.java
  cli/src/main/package/bin/ide
  cli/src/main/package/bin/ide.bat
  cli/src/main/package/completion
  cli/src/main/package/setup
  cli/src/main/package/setup.bat
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandletTest.java
Labels: enhancement, bash, install, completion

#514 #188 add alias for versionCommandlet on demand
  cli/src/test/java/com/devonfw/tools/ide/completion/CompleteTest.java
Labels: enhancement, test

#528 #527: fix for NPE in findIdeRoot
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
Labels: bugfix, core

#530 #330: fix CLI to prevent invalid shortoption split
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/property/KeywordProperty.java
  cli/src/test/java/com/devonfw/tools/ide/cli/CliAdvancedParsingTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestLoggerAssertion.java
  cli/src/test/resources/ide-projects/mvn/repository/java/java/default/bin/java
Labels: CLI, bugfix

#541 #531: prevent logging for processable commandlets
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContextConsole.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLoggerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeSubLoggerNone.java
  cli/src/test/java/com/devonfw/tools/ide/completion/IdeCompleterTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeSlf4jContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContextAssertion.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContextMock.java
  cli/src/test/java/com/devonfw/tools/ide/context/ProcessContextGitMock.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeLogEntry.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeSlf4jRootLogger.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeSubLoggerSlf4j.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeSubLoggerTest.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestLogger.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestLoggerFactory.java
  cli/src/test/java/com/devonfw/tools/ide/tool/mvn/MvnTest.java
Labels: enhancement, test, bugfix, logging, core

#546 Quick Fix: Check Java Installation Before Run GCViewer
  cli/src/main/java/com/devonfw/tools/ide/tool/gcviewer/GcViewer.java
Labels: gcviewer, bugfix

#539 #537: fixed repository setup NPE
  cli/src/main/java/com/devonfw/tools/ide/property/PathProperty.java
  cli/src/test/java/com/devonfw/tools/ide/cli/CliAdvancedParsingTest.java
Labels: bugfix

#549 #527: fix of fix
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
Labels: enhancement, environment, core

#548 544: use plantuml for documentation
  documentation/design.adoc
  documentation/images/Design.drawio
  documentation/images/Design.png
  documentation/images/design.puml
Labels: documentation, enhancement

#558 helpful tweak for Win11
  cli/src/main/package/system/windows/explorer/Disable_Show_more_options_context_menu.reg
  cli/src/main/package/system/windows/explorer/Enable_Show_more_options_context_menu.reg
Labels: enhancement, windows, system, integration

#560 #424: integrate small changes
  cli/src/test/java/com/devonfw/tools/ide/completion/CompleteTest.java
Labels: enhancement, test

#561 #424: re-adding last relevant change
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/test/java/com/devonfw/tools/ide/completion/IdeCompleterTest.java
Labels: enhancement, completion

#515 #439: refactor tool dependencies and tomcat
  cli/src/main/java/com/devonfw/tools/ide/process/EnvironmentContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContext.java
  cli/src/main/java/com/devonfw/tools/ide/tool/CustomToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/Dependency.java
  cli/src/main/java/com/devonfw/tools/ide/tool/GlobalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/tomcat/Tomcat.java
  cli/src/main/java/com/devonfw/tools/ide/tool/tomcat/TomcatCommand.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/UrlDependencyFile.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlEdition.java
  cli/src/test/java/com/devonfw/tools/ide/tool/graalvm/GraalVmTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/tomcat/TomcatTest.java
  cli/src/test/resources/ide-projects/tomcat/repository/tomcat/tomcat/default/bin/catalina.bat
  cli/src/test/resources/ide-projects/tomcat/repository/tomcat/tomcat/default/bin/catalina.sh
Labels: enhancement, install

#562 #523: exclude files from wrong OS
  cli/pom.xml
  cli/src/main/assembly/release-macos-13.xml
  cli/src/main/assembly/release-macos-latest.xml
  cli/src/main/assembly/release-ubuntu-latest.xml
  cli/src/main/assembly/release-windows-latest.xml
Labels: enhancement, windows, release, macOS, linux, system

#559 #531: prevent logging from context constructor
  cli/src/main/java/com/devonfw/tools/ide/cli/Ideasy.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/ContextCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContextConsole.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeStartContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeStartContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLoggerImpl.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/ContextCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeSlf4jContext.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestLogger.java
Labels: environment, CLI, bugfix, logging

#571 #570: fix git rev parse error if not in project
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContextImpl.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextMock.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextTest.java
Labels: settings, CLI, bugfix, git
