Repository devonfw/IDEasy, pull requests merged in 2024-02, with the labels that each got.

#197 #27: implement tool commandlet for jmc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolInstallation.java
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/jmc/Jmc.java
  cli/src/main/java/com/devonfw/tools/ide/tool/terraform/Terraform.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
  cli/src/test/java/com/devonfw/tools/ide/Jmc/JmcTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/resources/__files/org.openjdk.jmc-8.3.0-linux.gtk.x86_64.tar.gz
  cli/src/test/resources/__files/org.openjdk.jmc-8.3.0-macosx.cocoa.x86_64.tar.gz
  cli/src/test/resources/__files/org.openjdk.jmc-8.3.0-win32.win32.x86_64.zip
  cli/src/test/resources/ide-projects/_ide/urls/jmc/jmc/8.3.0/linux_x64.sha256
  cli/src/test/resources/ide-projects/_ide/urls/jmc/jmc/8.3.0/linux_x64.urls
  cli/src/test/resources/ide-projects/_ide/urls/jmc/jmc/8.3.0/mac_x64.sha256
  cli/src/test/resources/ide-projects/_ide/urls/jmc/jmc/8.3.0/mac_x64.urls
  cli/src/test/resources/ide-projects/_ide/urls/jmc/jmc/8.3.0/status.json
  cli/src/test/resources/ide-projects/_ide/urls/jmc/jmc/8.3.0/windows_x64.urls
  cli/src/test/resources/ide-projects/_ide/urls/jmc/jmc/8.3.0/windows_x64.urls.sha256
  documentation/IDEasy-usage.asciidoc
  documentation/jmc.asciidoc
Labels: jmc, commandlet

#210 #209: Quick Fix for CI build failure
  cli/src/main/java/com/devonfw/tools/ide/tool/jmc/Jmc.java
  cli/src/test/java/com/devonfw/tools/ide/tool/jmc/JmcTest.java
  cli/src/test/resources/ide-projects/_ide/urls/jmc/jmc/8.3.0/linux_x64.urls
  cli/src/test/resources/ide-projects/_ide/urls/jmc/jmc/8.3.0/mac_x64.urls
  cli/src/test/resources/ide-projects/_ide/urls/jmc/jmc/8.3.0/windows_x64.urls
Labels: bugfix

#211 #207: refactor test folder structure
  .gitignore
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/merge/DirectoryMergerTest.java
  cli/src/test/resources/ide-projects/_ide/urls/mvn/secondMvnEdition/.gitkeep
  cli/src/test/resources/ide-projects/basic/_ide/software/default/az/az/testVersion/.ide.software.version
  cli/src/test/resources/ide-projects/basic/_ide/software/readme
  cli/src/test/resources/ide-projects/basic/_ide/urls/java/java/17.0.6/linux_x64.sha256
  cli/src/test/resources/ide-projects/basic/_ide/urls/java/java/17.0.6/linux_x64.urls
  cli/src/test/resources/ide-projects/basic/_ide/urls/java/java/17.0.6/mac_x64.sha256
  cli/src/test/resources/ide-projects/basic/_ide/urls/java/java/17.0.6/mac_x64.urls
  cli/src/test/resources/ide-projects/basic/_ide/urls/java/java/17.0.6/status.json
  cli/src/test/resources/ide-projects/basic/_ide/urls/java/java/17.0.6/windows_x64.urls
  cli/src/test/resources/ide-projects/basic/_ide/urls/java/java/17.0.6/windows_x64.urls.sha256
  cli/src/test/resources/ide-projects/basic/_ide/urls/jmc/jmc/8.3.0/linux_x64.sha256
  cli/src/test/resources/ide-projects/basic/_ide/urls/jmc/jmc/8.3.0/linux_x64.urls
  cli/src/test/resources/ide-projects/basic/_ide/urls/jmc/jmc/8.3.0/mac_x64.sha256
  cli/src/test/resources/ide-projects/basic/_ide/urls/jmc/jmc/8.3.0/mac_x64.urls
  cli/src/test/resources/ide-projects/basic/_ide/urls/jmc/jmc/8.3.0/status.json
  cli/src/test/resources/ide-projects/basic/_ide/urls/jmc/jmc/8.3.0/windows_x64.urls
  cli/src/test/resources/ide-projects/basic/_ide/urls/jmc/jmc/8.3.0/windows_x64.urls.sha256
  cli/src/test/resources/ide-projects/basic/_ide/urls/mvn/mvn/3.0.5/status.json
  cli/src/test/resources/ide-projects/basic/_ide/urls/mvn/mvn/3.1.0/status.json
  cli/src/test/resources/ide-projects/basic/_ide/urls/mvn/mvn/3.2.1/status.json
  cli/src/test/resources/ide-projects/basic/_ide/urls/mvn/secondMvnEdition/3.2.1/status.json
  cli/src/test/resources/ide-projects/basic/_ide/urls/readme
  cli/src/test/resources/ide-projects/basic/project/conf/ide.properties
  cli/src/test/resources/ide-projects/basic/project/home/.ide/ide.properties
  cli/src/test/resources/ide-projects/basic/project/home/.ide/settings/eclipse/plugins/anyedit.properties
  cli/src/test/resources/ide-projects/basic/project/home/Downloads/ide/readme
  cli/src/test/resources/ide-projects/basic/project/home/readme
  cli/src/test/resources/ide-projects/basic/project/readme
  cli/src/test/resources/ide-projects/basic/project/scripts/ide
  cli/src/test/resources/ide-projects/basic/project/settings/eclipse/plugins/anyedit.properties
  cli/src/test/resources/ide-projects/basic/project/settings/eclipse/plugins/checkstyle.properties
  cli/src/test/resources/ide-projects/basic/project/settings/ide.properties
  cli/src/test/resources/ide-projects/basic/project/setup
  cli/src/test/resources/ide-projects/basic/project/software/java/bin/readme
  cli/src/test/resources/ide-projects/basic/project/software/mvn/.devon.software.version
  cli/src/test/resources/ide-projects/basic/project/software/mvn/bin/readme
  cli/src/test/resources/ide-projects/basic/project/workspaces/foo-test/ide.properties
  cli/src/test/resources/ide-projects/basic/project/workspaces/foo-test/my-git-repo/readme
  cli/src/test/resources/ide-projects/basic/project/workspaces/foo-test/readme
  cli/src/test/resources/ide-projects/basic/project/workspaces/main/readme
  cli/src/test/resources/ide-projects/basic/readme
  cli/src/test/resources/ide-projects/readme
Labels: enhancement, test

#214 #213: fix init context npe
  cli/src/main/java/com/devonfw/tools/ide/cli/Ideasy.java
  cli/src/main/resources/devon.properties
Labels: CLI, bugfix

#155 #173: use force update mode for ide-urls
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/context/GitUrl.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextMock.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextProcessContextMock.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/GitContextTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContext.java
Labels: urls, CLI, bugfix
