Repository devonfw/IDEasy, pull requests merged in 2024-05, with the labels that each got.

#318 added test to verify help messages are complete, improve help messages
  cli/src/main/java/com/devonfw/tools/ide/nls/NlsBundle.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
  cli/src/test/java/com/devonfw/tools/ide/commandlet/HelpCommandletTest.java
Labels: documentation, help

#338 #245: Proxy Support
  cli/pom.xml
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/network/ProxyConfig.java
  cli/src/main/java/com/devonfw/tools/ide/network/ProxyContext.java
  cli/src/test/java/com/devonfw/tools/ide/network/ProxyContextTest.java
  documentation/proxy-support.adoc
  pom.xml
Labels: enhancement, proxy

#322 #319: omit already up to date
  cli/src/main/java/com/devonfw/tools/ide/context/GitContextImpl.java
Labels: bugfix, git

#333 #236: fixed Eclipse plugin installation
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
Labels: eclipse, bugfix
