Repository devonfw/IDEasy, pull requests merged in 2024-01, with the labels that each got.

#156 #5 added contributen rules and guideines
  documentation/IDEasy-contribution-rules-and-guidelines.asciidoc
Labels: documentation

#140 #139: feature for making symlinks relative
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/test/java/com/devonfw/tools/ide/io/FileAccessImplTest.java
  cli/src/test/java/com/devonfw/tools/ide/version/VersionIdentifierTest.java
Labels: enhancement

#137 #127: Increase commandlet test coverage for InstallCommandlet
  cli/src/test/java/com/devonfw/tools/ide/commandlet/InstallCommandletTest.java
  cli/src/test/resources/__files/java-17.0.6-linux-x64.tgz
  cli/src/test/resources/__files/java-17.0.6-windows-x64.zip
  cli/src/test/resources/ide-projects/_ide/urls/java/java/17.0.6/linux_x64.sha256
  cli/src/test/resources/ide-projects/_ide/urls/java/java/17.0.6/linux_x64.urls
  cli/src/test/resources/ide-projects/_ide/urls/java/java/17.0.6/mac_x64.sha256
  cli/src/test/resources/ide-projects/_ide/urls/java/java/17.0.6/mac_x64.urls
  cli/src/test/resources/ide-projects/_ide/urls/java/java/17.0.6/status.json
  cli/src/test/resources/ide-projects/_ide/urls/java/java/17.0.6/windows_x64.urls
  cli/src/test/resources/ide-projects/_ide/urls/java/java/17.0.6/windows_x64.urls.sha256
Labels: enhancement, test

#176 #175: fixed NPE for missing version
  cli/src/main/java/com/devonfw/tools/ide/url/model/UrlMetadata.java
Labels: bug

#170 #158: improved VersionRange
  cli/src/main/java/com/devonfw/tools/ide/version/BoundaryType.java
  cli/src/main/java/com/devonfw/tools/ide/version/VersionRange.java
  cli/src/test/java/com/devonfw/tools/ide/version/VersionRangeTest.java
Labels: enhancement

#174 #6: fix git hangs via non interactive invocation
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/version/VersionSegment.java
Labels: bugfix, git

#166 #7: add Tag class with predefined tags
  cli/src/main/java/com/devonfw/tools/ide/common/Tag.java
  cli/src/main/java/com/devonfw/tools/ide/common/Tags.java
  cli/src/main/java/com/devonfw/tools/ide/tool/GlobalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/az/Azure.java
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
  cli/src/main/java/com/devonfw/tools/ide/tool/gh/Gh.java
  cli/src/main/java/com/devonfw/tools/ide/tool/gradle/Gradle.java
  cli/src/main/java/com/devonfw/tools/ide/tool/helm/Helm.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/PluginDescriptorImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/Intellij.java
  cli/src/main/java/com/devonfw/tools/ide/tool/java/Java.java
  cli/src/main/java/com/devonfw/tools/ide/tool/kotlinc/Kotlinc.java
  cli/src/main/java/com/devonfw/tools/ide/tool/kotlinc/KotlincNative.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/main/java/com/devonfw/tools/ide/tool/node/Node.java
  cli/src/main/java/com/devonfw/tools/ide/tool/oc/Oc.java
  cli/src/main/java/com/devonfw/tools/ide/tool/quarkus/Quarkus.java
  cli/src/main/java/com/devonfw/tools/ide/tool/terraform/Terraform.java
  cli/src/main/java/com/devonfw/tools/ide/tool/vscode/Vscode.java
  cli/src/test/java/com/devonfw/tools/ide/common/TagTest.java
Labels: enhancement

#177 devonfw/ide#1368: added updater for eclipse jee
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/EclipseJeeUrlUpdater.java
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/EclipseUrlUpdater.java
  cli/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
Labels: urls, eclipse

#141 #93: Support for Maven Plugins
  cli/src/main/java/com/devonfw/tools/ide/tool/PluginBasedCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/ExamplePluginBasedCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/tool/PluginBasedCommandletTest.java
  cli/src/test/resources/ide-projects/basic/home/.ide/settings/eclipse/plugins/anyedit.properties
  cli/src/test/resources/ide-projects/basic/settings/eclipse/plugins/anyedit.properties
  cli/src/test/resources/ide-projects/basic/settings/eclipse/plugins/checkstyle.properties
Labels: enhancement, mvn, plugins, commandlet

#187 #56: completion bash only
  cli/pom.xml
  cli/src/main/java/com/devonfw/tools/ide/cli/CliArgument.java
  cli/src/main/java/com/devonfw/tools/ide/cli/CliArguments.java
  cli/src/main/java/com/devonfw/tools/ide/cli/Ide.java
  cli/src/main/java/com/devonfw/tools/ide/cli/Ideasy.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/Commandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CompleteCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/ContextCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/HelpCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionGetCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionSetCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/common/SystemPath.java
  cli/src/main/java/com/devonfw/tools/ide/completion/CompletionCandidate.java
  cli/src/main/java/com/devonfw/tools/ide/completion/CompletionCandidateCollector.java
  cli/src/main/java/com/devonfw/tools/ide/completion/CompletionCandidateCollectorAdapter.java
  cli/src/main/java/com/devonfw/tools/ide/completion/CompletionCandidateCollectorDefault.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessResult.java
  cli/src/main/java/com/devonfw/tools/ide/property/BooleanProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/CommandletProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/FileProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/FolderProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/LocaleProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/NumberProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/PathProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/Property.java
  cli/src/main/java/com/devonfw/tools/ide/property/StringListProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/StringProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/ToolProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/VersionProperty.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/version/VersionIdentifier.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
  cli/src/test/java/com/devonfw/tools/ide/cli/CliArgumentTest.java
  cli/src/test/java/com/devonfw/tools/ide/cli/CliArgumentsTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/CommandletManagerResetter.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/HelpCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/InstallCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/VersionGetCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/VersionListCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/VersionSetCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/completion/CompleteTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/property/LocalePropertyTest.java
Labels: commandlet, completion

#178 #56: completion shell using jline
  cli/pom.xml
  cli/src/main/java/com/devonfw/tools/ide/commandlet/Commandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/InstallCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/ShellCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionSetCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/completion/CompletionCandidate.java
  cli/src/main/java/com/devonfw/tools/ide/completion/CompletionCandidateCollector.java
  cli/src/main/java/com/devonfw/tools/ide/completion/CompletionCandidateCollectorAdapter.java
  cli/src/main/java/com/devonfw/tools/ide/completion/CompletionCandidateCollectorDefault.java
  cli/src/main/java/com/devonfw/tools/ide/completion/IdeCompleter.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/property/CommandletProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/LocaleProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/PathProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/Property.java
  cli/src/main/java/com/devonfw/tools/ide/property/ToolProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/VersionProperty.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/test/java/com/devonfw/tools/ide/cli/AutocompletionReaderTestSupport.java
  cli/src/test/java/com/devonfw/tools/ide/completion/IdeCompleterTest.java
  cli/src/test/java/com/devonfw/tools/ide/property/LocalePropertyTest.java
  documentation/LICENSE.asciidoc
Labels: enhancement, commandlet, CLI, completion

#164 #15 Implement ToolCommandlet for Cobigen
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/cobigen/Cobigen.java
  cli/src/main/resources/nls/Ide.properties
  cli/src/main/resources/nls/Ide_de.properties
Labels: enhancement, cobigen, commandlet

#151 #20: Implement ToolCommandlet for GCViewer
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/gcviewer/GcViewer.java
  cli/src/main/java/com/devonfw/tools/ide/util/FilenameUtil.java
Labels: enhancement, gcviewer, commandlet
