Repository devonfw/IDEasy, pull requests merged in 2024-07, with the labels that each got.

#340 #317: added BuildCommandlet
  cli/src/main/java/com/devonfw/tools/ide/commandlet/BuildCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/variable/IdeVariables.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/commandlet/BuildCommandletTest.java
  cli/src/test/resources/ide-projects/build/project/settings/ide.properties
  cli/src/test/resources/ide-projects/build/project/settings/readme
  cli/src/test/resources/ide-projects/build/project/workspaces/main/gradle/build.gradle
  cli/src/test/resources/ide-projects/build/project/workspaces/main/mvn/pom.xml
  cli/src/test/resources/ide-projects/build/project/workspaces/main/npm/package.json
  cli/src/test/resources/ide-projects/build/project/workspaces/main/yarn/package.json
  cli/src/test/resources/ide-projects/build/project/workspaces/main/yarn/yarn.lock
  cli/src/test/resources/ide-projects/build/repository/gradle/gradle/default/bin/gradle
  cli/src/test/resources/ide-projects/build/repository/java/java/default/bin/java
  cli/src/test/resources/ide-projects/build/repository/java/java/default/bin/java.cmd
  cli/src/test/resources/ide-projects/build/repository/mvn/mvn/default/bin/mvn
  cli/src/test/resources/ide-projects/build/repository/node/node/default/node_modules/npm/bin/npm
  cli/src/test/resources/ide-projects/build/repository/node/node/default/node_modules/npm/bin/npm.cmd
  cli/src/test/resources/ide-projects/build/repository/node/node/default/node_modules/npm/bin/npx
  cli/src/test/resources/ide-projects/build/repository/node/node/default/node_modules/npm/bin/npx.cmd
  cli/src/test/resources/ide-projects/build/repository/npm/npm/default/bin/npm
Labels: enhancement, npm, mvn, gradle, commandlet

#447 #25: implement tool commandlet for intellij
  .gitattributes
  .gitignore
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/docker/Docker.java
  cli/src/main/java/com/devonfw/tools/ide/tool/graalvm/GraalVm.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/Intellij.java
  cli/src/main/java/com/devonfw/tools/ide/tool/sonar/Sonar.java
  cli/src/main/java/com/devonfw/tools/ide/tool/tomcat/Tomcat.java
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/linux/InstallTest.txt
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/mac/InstallTest.txt
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/mac/IntelliJ IDEA CE.app/Contents/MacOS/idea
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/windows/InstallTest.txt
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/windows/bin/idea64.exe
  cli/src/test/resources/ide-projects/intellij/repository/java/java/default/bin/readme
Labels: enhancement, intellij

#434 #396 Display the tools help output on 'ide help <tool>'
  cli/src/main/java/com/devonfw/tools/ide/commandlet/Commandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/HelpCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/aws/Aws.java
  cli/src/main/java/com/devonfw/tools/ide/tool/az/Azure.java
  cli/src/main/java/com/devonfw/tools/ide/tool/docker/Docker.java
  cli/src/main/java/com/devonfw/tools/ide/tool/dotnet/DotNet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/gh/Gh.java
  cli/src/main/java/com/devonfw/tools/ide/tool/gradle/Gradle.java
  cli/src/main/java/com/devonfw/tools/ide/tool/helm/Helm.java
  cli/src/main/java/com/devonfw/tools/ide/tool/jasypt/Jasypt.java
  cli/src/main/java/com/devonfw/tools/ide/tool/java/Java.java
  cli/src/main/java/com/devonfw/tools/ide/tool/kotlinc/Kotlinc.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/main/java/com/devonfw/tools/ide/tool/node/Node.java
  cli/src/main/java/com/devonfw/tools/ide/tool/npm/Npm.java
  cli/src/main/java/com/devonfw/tools/ide/tool/oc/Oc.java
  cli/src/main/java/com/devonfw/tools/ide/tool/quarkus/Quarkus.java
  cli/src/main/java/com/devonfw/tools/ide/tool/terraform/Terraform.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/HelpCommandletTest.java
Labels: CLI, help

#450 #448: fix release workflow
  .github/workflows/release.yml
Labels: SCM, bugfix

#299 #12: Implement ToolCommandlet for Android Studio
  .gitattributes
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/androidstudio/AndroidStudio.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/tool/androidstudio/AndroidStudioTest.java
  cli/src/test/resources/ide-projects/android-studio/project/settings/ide.properties
  cli/src/test/resources/ide-projects/android-studio/project/workspaces/main/readme
  cli/src/test/resources/ide-projects/android-studio/repository/android-studio/android-studio/default/linux/bin/studio.sh
  cli/src/test/resources/ide-projects/android-studio/repository/android-studio/android-studio/default/mac/Android Studio Preview.app/Contents/MacOS/studio
  cli/src/test/resources/ide-projects/android-studio/repository/android-studio/android-studio/default/windows/bin/studio64.exe
Labels: android-studio

#476 #400: fix error handling for undefined IDE_ROOT and IDE_HOME
  cli/src/main/java/com/devonfw/tools/ide/cli/Ideasy.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/Commandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CompleteCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/EditionGetCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/HelpCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionGetCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessResult.java
  cli/src/main/java/com/devonfw/tools/ide/property/Property.java
  cli/src/main/java/com/devonfw/tools/ide/step/StepImpl.java
Labels: CLI, bugfix, logging

#474 #468: start intellij in background
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/Intellij.java
Labels: intellij

#478 #464: added export of IDEA_PROPERTIES
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/Intellij.java
  cli/src/main/java/com/devonfw/tools/ide/variable/IdeVariables.java
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
  cli/src/test/resources/ide-projects/intellij/project/conf/ide.properties
Labels: intellij

#494 #427: optimize nightly builds
  .github/workflows/check-for-updates.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
  cli/pom.xml
  cli/src/main/assembly/release-macos-13.xml
  cli/src/main/assembly/release-macos-latest.xml
  cli/src/main/assembly/release-ubuntu-latest.xml
  cli/src/main/assembly/release-windows-latest.xml
Labels: enhancement

#490 #433: Implement Intellij plugins installation
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/os/MacOsHelper.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/PluginInstaller.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/Intellij.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/IntellijPluginInstaller.java
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
  cli/src/test/resources/ide-projects/intellij/project/settings/intellij/plugins/MockedPlugin.properties
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/linux/build.txt
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/mac/IntelliJ IDEA CE.app/Contents/Resources/build.txt
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/windows/build.txt
  cli/src/test/resources/ide-projects/intellij/repository/mocked-plugin.jar
Labels: intellij, plugins

#488 #466: fixed workspace fallback to main
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeContextTest.java
Labels: bugfix, core
