Repository devonfw/IDEasy, pull requests merged in 2025-04, with the labels that each got.

#1192 #1191: Fixed vscode plugin detection
  cli/src/main/java/com/devonfw/tools/ide/tool/vscode/Vscode.java
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/vscode/VscodeTest.java
Labels: vscode, plugins, bugfix

#1203 #1202: Added branchname fallback to master
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/git/GitContextImpl.java
Labels: bugfix

#1180 #1007: Implemented granular force options for update command
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractUpdateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContextConsole.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeStartContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeStartContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/git/GitOperation.java
  cli/src/main/java/com/devonfw/tools/ide/git/repository/RepositoryCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/plugin/PluginBasedCommandlet.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/commandlet/RepositoryCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/tool/plugin/PluginBasedCommandletTest.java
  cli/src/test/resources/ide-projects/basic/project/.ide/plugin.eclipse.null.anyedit
Labels: enhancement, update

#1244 #1229 just list versions with urls for the intended OS
  cli/src/main/java/com/devonfw/tools/ide/url/model/UrlMetadata.java
  cli/src/test/java/com/devonfw/tools/ide/url/model/UrlMetadataTest.java
  cli/src/test/resources/ide-projects/basic/_ide/urls/mvn/mvn/3.0.5/urls
  cli/src/test/resources/ide-projects/basic/_ide/urls/mvn/mvn/3.1.0/urls
  cli/src/test/resources/ide-projects/basic/_ide/urls/mvn/mvn/3.2.1/urls
  cli/src/test/resources/urls/python/python/3.11.10/linux_x64.urls
  cli/src/test/resources/urls/python/python/3.11.10/status.json
  cli/src/test/resources/urls/python/python/3.11.9/linux_x64.urls
  cli/src/test/resources/urls/python/python/3.11.9/mac_arm64.urls
  cli/src/test/resources/urls/python/python/3.11.9/status.json
  cli/src/test/resources/urls/python/python/3.11.9/windows_x64.urls
Labels: enhancement

#1251 #1223: Fixed Mac ARM64 release name
  .github/workflows/release.yml
  CHANGELOG.adoc
  cli/src/main/assembly/release-mac-arm64.xml
Labels: macOS, upgrade

#1248 #1231: Prevent automatic IDEasy uninstall
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
Labels: install, bugfix, uninstall

#1247 #1243: Fix logging of ide status although errors might occur
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/StatusCommandlet.java
Labels: bugfix, status

#1265 #1208: #1231: write version file on installation
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/tool/IdeasyCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/tool/IdeasyCommandletTest.java
Labels: install, bugfix, internal

#1259 Update setup.adoc
  documentation/setup.adoc
Labels: documentation
