Repository devonfw/IDEasy, pull requests merged in 2025-05, with the labels that each got.

#1285 #1282: Fix some typos in docs
  documentation/IDEasy-contribution-getting-started.adoc
  documentation/IDEasy-contribution-rules-and-guidelines.adoc
  documentation/coding-conventions.adoc
  documentation/configuration.adoc
Labels: documentation

#1207 #583: integration test mvp
  .github/workflows/check-for-updates.yml
  .github/workflows/integration-tests.yml
  cli/src/test/all-tests-functions.sh
  cli/src/test/all-tests.sh
  cli/src/test/integration-tests/help.sh
  cli/src/test/integration-tests/install-intellij.sh
  cli/src/test/integration-tests/install-npm.sh
  documentation/integration-tests.adoc
Labels: test, SCM

#1288 #583: added status badge
  README.adoc
  cli/src/test/all-tests.sh
Labels: integration-tests

#1291 #1290: Fixed intellij test on Mac
  cli/src/test/integration-tests/install-intellij.sh
Labels: bugfix, integration-tests

#1254 #1213: changed the tool installation log
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/tool/tomcat/TomcatTest.java
Labels: enhancement, logging

#1100 #1058: fixed missing JAVA_HOME env var
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContext.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessResult.java
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessResultImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/test/java/com/devonfw/tools/ide/tool/mvn/MvnTest.java
Labels: java, bugfix

#1305 #1271: Fixed aws input not being processed
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/process/ProcessContextImpl.java
Labels: aws, CLI, bugfix

#1289 #736: add replacement for char "+"
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeaBasedIdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeaPluginDownloader.java
Labels: bug

#1321 #1038: set graalvm github actions to community
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
  CHANGELOG.adoc
  cli/src/main/resources/META-INF/native-image/com.devonfw.tools.IDEasy/ide-cli/reachability-metadata.json
Labels: intellij, bugfix, merger

#1319 improve documentation (access token)
  documentation/IDEasy-update-access-token.adoc
  documentation/images/AccessToken1.png
  documentation/images/AccessToken2.png
  documentation/images/AccessToken3.png
  documentation/images/AccessToken4.png
  documentation/images/AccessToken5.png
  documentation/images/AccessToken6.png
  documentation/images/AccessToken7.png
  documentation/images/AccessToken8.png
  documentation/images/AccessToken9.png
  documentation/images/design.puml
Labels: documentation, enhancement, SCM

#1242 #809: Enhance uninstall with --force to remove from the software repo
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UninstallCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/LocalToolCommandletTest.java
Labels: enhancement, uninstall

#1327 #351: prevent environment variables from other project causing side-effects
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariablesSystem.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EnvironmentCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/environment/EnvironmentVariablesTest.java
  cli/src/test/resources/ide-projects/environment/project/conf/mvn/settings.xml
  cli/src/test/resources/ide-projects/environment/project/home/environment.properties
Labels: enhancement, environment

#1336 #1199: Removed confusing quotation marks around issue ID
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bugfix, internal

#1334 #1332: fixed bug pattern, proper Step usage, allow running tool if plugin failed
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractUpdateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/InstallPluginCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/log/AbstractIdeSubLogger.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeSubLogger.java
  cli/src/main/java/com/devonfw/tools/ide/step/Step.java
  cli/src/main/java/com/devonfw/tools/ide/step/StepImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/DelegatingToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/GlobalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/docker/Docker.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/main/java/com/devonfw/tools/ide/tool/pgadmin/PgAdmin.java
  cli/src/main/java/com/devonfw/tools/ide/tool/plugin/PluginBasedCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UpdateCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/step/StepTest.java
Labels: plugins, bugfix, step

#1345 #1038: Fixed linux native build not working
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
Labels: bugfix, internal
