Repository devonfw/IDEasy, pull requests merged in 2025-08, with the labels that each got.

#1406 #1404: change ini file design to preserve comments
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/io/IniFileImpl.java
  cli/src/main/java/com/devonfw/tools/ide/io/IniSection.java
  cli/src/main/java/com/devonfw/tools/ide/io/IniSectionImpl.java
  cli/src/main/java/com/devonfw/tools/ide/io/ini/IniComment.java
  cli/src/main/java/com/devonfw/tools/ide/io/ini/IniElement.java
  cli/src/main/java/com/devonfw/tools/ide/io/ini/IniFile.java
  cli/src/main/java/com/devonfw/tools/ide/io/ini/IniFileImpl.java
  cli/src/main/java/com/devonfw/tools/ide/io/ini/IniProperty.java
  cli/src/main/java/com/devonfw/tools/ide/io/ini/IniSection.java
  cli/src/main/java/com/devonfw/tools/ide/tool/IdeasyCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/io/IniFileImplTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/IdeasyCommandletTest.java
Labels: enhancement

#1452 #1451: fix merge:id default for single attribute
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/merge/xml/XmlMergeSupport.java
  cli/src/test/resources/xmlmerger/id-fallback/result.xml
  cli/src/test/resources/xmlmerger/id-fallback/target.xml
  cli/src/test/resources/xmlmerger/id-fallback/template.xml
Labels: bugfix, merger

#1449 #1444: Added UvUrlUpdater
  url-updater/src/main/java/com/devonfw/tools/ide/url/tool/uv/UvUrlUpdater.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
  url-updater/src/test/java/com/devonfw/tools/ide/url/tool/uv/UvUrlUpdaterMock.java
  url-updater/src/test/java/com/devonfw/tools/ide/url/tool/uv/UvUrlUpdaterTest.java
  url-updater/src/test/resources/integrationtest/UvUrlUpdater/uv-tags.json
Labels: urls, internal

#1201 #103: introduce security module
  .github/workflows/update-cve.yml
  cli/src/main/java/com/devonfw/tools/ide/json/JsonMapping.java
  cli/src/main/java/com/devonfw/tools/ide/json/VersionRangeSerializer.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/UrlMetadata.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/UrlSecurityFile.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/json/CVE.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/json/ToolSecurity.java
  cli/src/main/java/com/devonfw/tools/ide/version/VersionIdentifier.java
  pom.xml
  security/pom.xml
  security/src/main/java/com/devonfw/tools/IDEasy/dev/BuildSecurityJsonFiles.java
  security/src/main/java/com/devonfw/tools/IDEasy/dev/UrlAnalyzer.java
  security/src/test/java/com/devonfw/tools/security/SecurityUrlUpdaterMock.java
  url-updater/src/main/java/com/devonfw/tools/ide/url/updater/UpdateManager.java
Labels: security
