Repository devonfw/IDEasy, pull requests merged in 2025-03, with the labels that each got.

#1099 #420: Fix msi download url
  .github/workflows/release.yml
Labels: release

#1073 #38: Added LocalToolCommandlet for Python
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/python/Python.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
Labels: enhancement, commandlet, python

#1113 #1052: add official eclipse download URL
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/EclipseUrlUpdater.java
Labels: urls, eclipse, download

#1120 #1111: create license agreement file
  CHANGELOG.adoc
  windows-installer/Package.wxs
Labels: windows, install, bugfix

#1085 #654: improved plugin suppport
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/process/EnvironmentVariableCollectorContext.java
  cli/src/main/java/com/devonfw/tools/ide/tool/DelegatingToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/GlobalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/docker/Docker.java
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeaBasedIdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/Intellij.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/main/java/com/devonfw/tools/ide/tool/pgadmin/PgAdmin.java
  cli/src/main/java/com/devonfw/tools/ide/tool/plugin/PluginBasedCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/vscode/Vscode.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/InstallPluginCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/ide/IdeToolDummyCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/plugin/ExamplePluginBasedCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/tool/vscode/VscodeTest.java
  cli/src/test/resources/ide-projects/intellij/repository/intellij/ultimate/default/windows/bin/idea64.exe
  cli/src/test/resources/ide-projects/intellij/repository/intellij/ultimate/default/windows/build.txt
Labels: enhancement, plugins

#1154 #1153: print os info in status
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/StatusCommandlet.java
Labels: enhancement, system, status

#1156 #1039: fix how jasypt commandlet invokes java
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/jasypt/Jasypt.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
Labels: jasypt, dependency

#1157 #1006: fix eclipse vmargs to prevent launching UI
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
Labels: configuration, eclipse, bugfix

#1125 #1110: Fixed ide status fails with IllegalStateException when being offline
  cli/awstest
  cli/src/main/java/com/devonfw/tools/ide/commandlet/StatusCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/StatusCommandletTest.java
Labels: bugfix, status

#1158 #1130: improve using variable FAIL_ON_AMBIGOUS_MERGE incl. documentat…
  cli/src/main/java/com/devonfw/tools/ide/merge/DirectoryMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xml/XmlMergeDocument.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xml/XmlMergeException.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xml/XmlMergeStrategy.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xml/XmlMergeSupport.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xml/XmlMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xml/matcher/ElementMatcher.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xml/matcher/IdComputer.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xml/matcher/NamespaceContextFromElement.java
  cli/src/test/java/com/devonfw/tools/ide/merge/xml/XmlMergerTest.java
  cli/src/test/resources/xmlmerger/ambiguous-id/result.xml
  cli/src/test/resources/xmlmerger/ambiguous-id/target.xml
  cli/src/test/resources/xmlmerger/ambiguous-id/template.xml
  documentation/variables.adoc
Labels: enhancement, configuration, merger

#1168 #1086: delete ide download cache on uninstall
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/IdeasyCommandlet.java
Labels: download, uninstall

#1170 #1084: properly detect IDEasy installation dir from native image
  cli/pom.xml
  cli/src/main/java/com/devonfw/tools/ide/cli/GraalVmHelper.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/InstallCommandlet.java
  pom.xml
Labels: enhancement, install

#1176 #1159: Fixed SNAPSHOT version handling
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/UpgradeMode.java
  cli/src/main/java/com/devonfw/tools/ide/version/VersionPhase.java
  cli/src/test/java/com/devonfw/tools/ide/version/VersionIdentifierTest.java
Labels: bugfix, upgrade

#1179 #889: improve icd command
  cli/src/main/package/functions
  documentation/cli.adoc
Labels: documentation, enhancement, bash

#1183 #103: create java resemblance for security.json
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/CustomToolRepositoryImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/DefaultToolRepository.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/MavenRepository.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/ToolRepository.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/UrlSecurityFile.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/json/CVE.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/file/json/ToolSecurity.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/folder/AbstractUrlToolOrEdition.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/folder/UrlEdition.java
  cli/src/test/java/com/devonfw/tools/ide/url/model/file/json/ToolSecurityTest.java
  cli/src/test/resources/urls/tomcat/tomcat/security.json
Labels: security, internal

#1182 #692 : "Latest" version of docker is now accepted
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/AbstractToolRepository.java
  cli/src/main/java/com/devonfw/tools/ide/url/model/folder/AbstractUrlFolder.java
  url-updater/src/test/java/com/devonfw/tools/ide/url/tool/UrlUpdaterMockSingle.java
  url-updater/src/test/java/com/devonfw/tools/ide/url/tool/UrlUpdaterTest.java
Labels: bug, docker
