Repository devonfw/IDEasy, pull requests merged in 2025-06, with the labels that each got.

#1374 #1361: fix IDE (IntelliJ) plugin installation
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/test/integration-tests/install-intellij.sh
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
  cli/src/test/resources/ide-projects/intellij/project/settings/intellij/workspace/update/idea.properties
Labels: intellij, bugfix, workspace

#1350 #1340: proper fix if IDE_ROOT is not sane
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
Labels: enhancement, environment, logging, core

#1357 Update changelog and fix inconsistencies and typos
  CHANGELOG.adoc
Labels: internal

#1355 #1309: Fixed ide.bat splitting IDE_OPTIONS
  CHANGELOG.adoc
  cli/src/main/package/bin/ide.bat
Labels: windows, bugfix

#1371 #1160: IDEasy version gets printed when using ide status offline
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/StatusCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/IdeasyCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/StatusCommandletTest.java
Labels: bugfix, status

#1386 #1379: add mac arm java urls
  url-updater/src/main/java/com/devonfw/tools/ide/url/tool/java/JavaUrlUpdater.java
  url-updater/src/test/java/com/devonfw/tools/ide/url/tool/java/JavaUrlUpdaterTest.java
Labels: urls, internal

#1367 #1304: Fix VSCode reinstall error
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
Labels: vscode, bugfix

#1328 #1292: logs potential welcome file to info level
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CreateCommandlet.java
Labels: enhancement, good first issue, logging, create

#1388 #1372: Add gradle wrapper support
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/gradle/Gradle.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/test/java/com/devonfw/tools/ide/tool/gradle/GradleTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/mvn/MvnTest.java
  cli/src/test/resources/ide-projects/gradle/repository/gradle/gradle/default/bin/gradlew
Labels: enhancement, gradle, gradlew

#1396 #1303: Add option to show GDPR compliant console output and suggest for status in bug template
  .github/ISSUE_TEMPLATE/bug_report.yml
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/ContextCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeStartContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeStartContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/log/AbstractIdeSubLogger.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLogArgFormatter.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLogExceptionDetails.java
  cli/src/main/java/com/devonfw/tools/ide/log/IdeLoggerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/sonar/Sonar.java
  cli/src/main/java/com/devonfw/tools/ide/util/HexUtil.java
  cli/src/main/java/com/devonfw/tools/ide/util/PrivacyUtil.java
  cli/src/main/java/com/devonfw/tools/ide/util/PropertiesFileUtil.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/commandlet/ContextCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/StatusCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/completion/CompleteTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/util/PrivacyUtilTest.java
Labels: security, CLI, logging, status

#1397 #1303: robsutness improvement
  cli/src/main/java/com/devonfw/tools/ide/util/PrivacyUtil.java
  cli/src/test/java/com/devonfw/tools/ide/util/PrivacyUtilTest.java
Labels: enhancement, internal

#1398 #1303: fix critical bug on early logging causing mess
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
Labels: enhancement, logging, status
