Repository devonfw/IDEasy, pull requests merged in 2025-01, with the labels that each got.

#820 #759: upgrade settings commandlet
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractUpdateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/RepositoryCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/UpgradeSettingsCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/environment/AbstractEnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariables.java
  cli/src/main/java/com/devonfw/tools/ide/environment/EnvironmentVariablesPropertiesFile.java
  cli/src/main/java/com/devonfw/tools/ide/environment/VariableLine.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/merge/AbstractWorkspaceMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/DirectoryMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/FallbackMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/FileMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/JsonMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/PropertiesMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/TextMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/WorkspaceMerger.java
  cli/src/main/java/com/devonfw/tools/ide/merge/xmlmerger/XmlMerger.java
  cli/src/main/java/com/devonfw/tools/ide/repo/AbstractToolRepository.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomTool.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolJson.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolMetadata.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolRepository.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolRepositoryImpl.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolsJson.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolsJsonMapper.java
  cli/src/main/java/com/devonfw/tools/ide/tool/CustomToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/util/DateTimeUtil.java
  cli/src/main/java/com/devonfw/tools/ide/variable/IdeVariables.java
  cli/src/main/java/com/devonfw/tools/ide/variable/VariableDefinitionStringList.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UpgradeSettingsCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/merge/DirectoryMergerTest.java
  cli/src/test/java/com/devonfw/tools/ide/repo/CustomToolMetadataTest.java
  cli/src/test/java/com/devonfw/tools/ide/repo/CustomToolTest.java
  cli/src/test/java/com/devonfw/tools/ide/repo/CustomToolsJsonMapperTest.java
  cli/src/test/resources/customtools/ide-custom-tools.json
  cli/src/test/resources/ide-projects/upgrade-settings/project/conf/devon.properties
  cli/src/test/resources/ide-projects/upgrade-settings/project/conf/ide.properties
  cli/src/test/resources/ide-projects/upgrade-settings/project/home/devon.properties
  cli/src/test/resources/ide-projects/upgrade-settings/project/settings/devon.properties
  cli/src/test/resources/ide-projects/upgrade-settings/project/settings/devon/conf/.m2/settings.xml
  cli/src/test/resources/ide-projects/upgrade-settings/project/settings/devon/conf/devon.properties
  cli/src/test/resources/ide-projects/upgrade-settings/project/settings/intellij/workspace/TestXml.xml
  cli/src/test/resources/ide-projects/upgrade-settings/project/settings/projects/IDEasy.properties
  cli/src/test/resources/ide-projects/upgrade-settings/project/settings/workspace/testVariableSyntax.txt
  cli/src/test/resources/ide-projects/upgrade-settings/project/workspaces/main/devon.properties
  documentation/migration-from-devonfw.adoc
Labels: enhancement, commandlet

#850 #757: Settings in code repository
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractUpdateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CreateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/StatusCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/git/GitContext.java
  cli/src/main/java/com/devonfw/tools/ide/git/GitContextImpl.java
  cli/src/main/java/com/devonfw/tools/ide/git/GitUrl.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/commandlet/HelpCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/git/GitContextMock.java
  documentation/settings.adoc
Labels: enhancement, repository, settings, create

#918 #915: fix custom tools
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/tool/CustomToolCommandlet.java
Labels: update, install, bugfix, custom

#934 avoid duplicated initialization of IDEasy
  cli/src/main/package/setup
Labels: enhancement, bash, install

#933 prevent stacktrace of CliException even with debug logging
  cli/src/main/java/com/devonfw/tools/ide/cli/Ideasy.java
  cli/src/test/java/com/devonfw/tools/ide/cli/IdeasyTest.java
  cli/src/test/java/com/devonfw/tools/ide/log/IdeTestLoggerAssertion.java
Labels: enhancement, CLI, logging

#940 #914: Setup creates .bashrc and .zshrc if not existent
  cli/src/main/package/setup
Labels: bash, install, bugfix

#903 #898: Improved output of get-version/edition and uninstall/-plugin
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractVersionOrEditionGetCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/EditionGetCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/UninstallCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/VersionGetCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/os/MacOsHelper.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/plugin/PluginBasedCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EditionGetCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UninstallCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/VersionGetCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeTestContextAssertion.java
  cli/src/test/resources/ide-projects/basic/project/software/npm/.ide.software.version
  cli/src/test/resources/ide-projects/edition-version-get-uninstall/_ide/software/default/az/az/testVersion/.ide.software.version
  cli/src/test/resources/ide-projects/edition-version-get-uninstall/_ide/software/default/mvn/mvn/testVersion/.ide.software.version
  cli/src/test/resources/ide-projects/edition-version-get-uninstall/_ide/urls/mvn/mvn/3.0.1/.gitkeep
  cli/src/test/resources/ide-projects/edition-version-get-uninstall/project/conf/ide.properties
  cli/src/test/resources/ide-projects/edition-version-get-uninstall/project/conf/mvn/.gitkeep
  cli/src/test/resources/ide-projects/edition-version-get-uninstall/project/settings/.gitkeep
  cli/src/test/resources/ide-projects/edition-version-get-uninstall/project/software/mvn/.devon.software.version
  cli/src/test/resources/ide-projects/edition-version-get-uninstall/project/workspaces/main/.gitkeep
Labels: enhancement

#949 #815: decouple from docgen and fix ant adoc processing
  CHANGELOG.adoc
  documentation/IDEasy.adoc
  documentation/features.adoc
  documentation/pom.xml
  documentation/theme/custom-theme.yml
Labels: documentation, bugfix

#955 #903: fix test to avoid modification in src/test/resources causing other tests to turn red as side effect
  cli/src/test/java/com/devonfw/tools/ide/commandlet/EditionGetCommandletTest.java
Labels: test, bugfix, internal

#953 #942: Added check for existence of devon.properties file
  cli/src/main/java/com/devonfw/tools/ide/commandlet/StatusCommandlet.java
Labels: bugfix, status

#952 Update branch name from master to main in usage.adoc
  documentation/usage.adoc
Labels: documentation, enhancement

#956 #939: fix NPE on path completion and implement repository completion
  cli/src/main/java/com/devonfw/tools/ide/commandlet/RepositoryCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/ShellCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/property/PathProperty.java
  cli/src/main/java/com/devonfw/tools/ide/property/RepositoryProperty.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/RepositoryCommandletTest.java
Labels: enhancement, repository, completion, bugfix

#948 #919: Require user to agree to license
  cli/src/main/java/com/devonfw/tools/ide/commandlet/HelpCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/package/setup
  cli/src/main/package/setup.bat
  cli/src/test/java/com/devonfw/tools/ide/commandlet/HelpCommandletTest.java
Labels: enhancement, CLI

#964 #894: Fix remaining bug in ide.bat
  cli/src/main/package/bin/ide.bat
Labels: windows, bugfix, CMD

#965 #935: followup - remove implicit status invocation
  cli/src/main/package/functions
Labels: environment, CLI, bugfix, status

#967 #898: adjusted tool name in error message
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractVersionOrEditionGetCommandlet.java
Labels: enhancement, logging

#966 #914: #940: quickfix to print correct filename
  cli/src/main/package/setup
Labels: bash, install, bugfix

#909 #790: Fix intellij plugin installation
  cli/src/main/java/com/devonfw/tools/ide/commandlet/InstallPluginCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeaBasedIdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/intellij/Intellij.java
  cli/src/main/java/com/devonfw/tools/ide/tool/plugin/PluginBasedCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/tool/intellij/IntellijTest.java
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/linux/bin/idea.sh
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/mac/IntelliJ IDEA CE.app/Contents/MacOS/idea
  cli/src/test/resources/ide-projects/intellij/repository/intellij/intellij/default/windows/bin/idea64.exe
Labels: intellij, plugins, bugfix

#974 #972: add CustomToolJsonDeserializer to prevent jackson error
  cli/src/main/java/com/devonfw/tools/ide/json/JsonMapping.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolJson.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolJsonDeserializer.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolJsonSerializer.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolsJson.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolsJsonDeserializer.java
  cli/src/main/java/com/devonfw/tools/ide/repo/CustomToolsJsonSerializer.java
Labels: bugfix, custom

#986 #984: windows documentation: typo's correction
  documentation/advanced-tooling-windows.adoc
Labels: documentation, enhancement

#977 #975: addon changes corresponding to issue 853
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/completion/IdeCompleterTest.java
Labels: enhancement

#988 #984: Fixed typos in docs
  documentation/advanced-tooling-windows.adoc
Labels: documentation

#983 #931: enhance settings in code repository
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractUpdateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/StatusCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/git/GitOperation.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
Labels: bugfix, git

#995 #958: instead of upgrade better remove epub since we do not need it
  documentation/pom.xml
Labels: documentation, enhancement, SCM

#994 #993: create IDE start scripts
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractUpdateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UpdateCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
Labels: enhancement, update, bugfix, create

#1003 #599: graalvm compatibility mode to make x86-64 releases work on arm-64
  CHANGELOG.adoc
  cli/pom.xml
Labels: enhancement, graalvm, ARM

#990 #954: improve repository support
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractUpdateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CommandletManagerImpl.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/CreateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/RepositoryCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/RepositoryConfig.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/UpdateCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/UpgradeSettingsCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/git/GitUrl.java
  cli/src/main/java/com/devonfw/tools/ide/git/repository/RepositoryCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/git/repository/RepositoryConfig.java
  cli/src/main/java/com/devonfw/tools/ide/git/repository/RepositoryProperties.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/json/JsonMapping.java
  cli/src/main/java/com/devonfw/tools/ide/log/AbstractIdeSubLogger.java
  cli/src/main/java/com/devonfw/tools/ide/os/MacOsHelper.java
  cli/src/main/java/com/devonfw/tools/ide/step/Step.java
  cli/src/main/java/com/devonfw/tools/ide/step/StepImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/CustomToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/GlobalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/LocalToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/docker/Docker.java
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/MvnArtifact.java
  cli/src/main/java/com/devonfw/tools/ide/tool/pgadmin/PgAdmin.java
  cli/src/main/java/com/devonfw/tools/ide/tool/plugin/ToolPluginDescriptor.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/AbstractToolRepository.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/CustomToolJson.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/CustomToolJsonDeserializer.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/CustomToolJsonSerializer.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/CustomToolMetadata.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/CustomToolRepository.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/CustomToolRepositoryImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/CustomToolsJson.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/CustomToolsJsonDeserializer.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/CustomToolsJsonMapper.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/CustomToolsJsonSerializer.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/DefaultToolRepository.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/ToolRepository.java
  cli/src/main/java/com/devonfw/tools/ide/util/FilenameUtil.java
  cli/src/main/package/internal/eclipse-import.groovy
  cli/src/main/package/internal/eclipse-import.xml
  cli/src/test/java/com/devonfw/tools/ide/commandlet/RepositoryCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UpgradeSettingsCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeContextTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/tool/mvn/MvnArtifactTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/repository/CustomToolMetadataTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/repository/CustomToolRepositoryTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/repository/CustomToolsJsonMapperTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/repository/ToolRepositoryMock.java
  cli/src/test/java/com/devonfw/tools/ide/util/FilenameUtilTest.java
Labels: enhancement, repository, eclipse, step

#1005 #954: fix log message
  cli/src/main/java/com/devonfw/tools/ide/git/repository/RepositoryCommandlet.java
Labels: repository, bugfix, logging
