Repository devonfw/IDEasy, pull requests merged in 2025-02, with the labels that each got.

#1020 1019: extra spaces should not cause problem in version range expression
  cli/src/main/java/com/devonfw/tools/ide/version/VersionRange.java
  cli/src/test/java/com/devonfw/tools/ide/version/VersionRangeTest.java
Labels: bug

#1010 #982: ability for user specific workspace configuration templates
  CHANGELOG.adoc
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
  cli/src/main/java/com/devonfw/tools/ide/merge/PropertiesMerger.java
  cli/src/main/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandlet.java
  cli/src/test/java/com/devonfw/tools/ide/merge/DirectoryMergerTest.java
  cli/src/test/java/com/devonfw/tools/ide/tool/ide/IdeToolCommandletTest.java
  cli/src/test/resources/ide-projects/intellij/project/home/.ide/intellij/workspace/setup/.intellij/config/idea.key
  cli/src/test/resources/ide-projects/intellij/project/home/.ide/workspace/update/user.properties
  documentation/.asciidoctorconfig
  documentation/DoD.adoc
  documentation/configuration.adoc
  documentation/configurator.adoc
  documentation/features.adoc
  documentation/software.adoc
  documentation/workspaces.adoc
Labels: enhancement, configuration, merger

#976 #969: Fix sleep command not found in log-order.sh
  cli/src/test/resources/ide-projects/basic/project/home/environment.properties
  cli/src/test/resources/process-context/log-order.sh
Labels: enhancement, test, internal

#1036 #1034: proper fix of VersionRange.contains for version patterns
  cli/src/main/java/com/devonfw/tools/ide/version/VersionRange.java
  cli/src/test/java/com/devonfw/tools/ide/version/VersionRangeTest.java
Labels: bugfix, core, dependency

#1032 #1023 introduce dependencies json for eclipse
  cli/src/main/java/com/devonfw/tools/ide/tool/eclipse/Eclipse.java
  cli/src/test/resources/ide-projects/eclipse/_ide/urls/eclipse/dependencies.json
Labels: enhancement, urls, eclipse, dependency

#996 963: replace hardcoded dependency for mvn
  cli/src/main/java/com/devonfw/tools/ide/tool/mvn/Mvn.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/BuildCommandletTest.java
  cli/src/test/resources/ide-projects/build/_ide/urls/mvn/mvn/dependencies.json
  cli/src/test/resources/ide-projects/mvn/_ide/urls/mvn/mvn/dependencies.json
  cli/src/test/resources/ide-projects/update/_ide/urls/mvn/mvn/dependencies.json
Labels: enhancement, configuration

#1000 #991: Introduce dependencies.json for gradle
  cli/src/main/java/com/devonfw/tools/ide/tool/gradle/Gradle.java
  cli/src/test/java/com/devonfw/tools/ide/tool/gradle/GradleTest.java
  cli/src/test/resources/ide-projects/build/_ide/urls/gradle/gradle/dependencies.json
  cli/src/test/resources/ide-projects/gradle/_ide/urls/gradle/dependencies.json
  cli/src/test/resources/ide-projects/gradle/_ide/urls/gradle/gradle/8.7/urls
  cli/src/test/resources/ide-projects/gradle/_ide/urls/java/java/17.0.10_7/urls
  cli/src/test/resources/ide-projects/gradle/project/settings/ide.properties
  cli/src/test/resources/ide-projects/gradle/project/workspaces/main/.gitkeep
  cli/src/test/resources/ide-projects/gradle/repository/gradle/gradle/default/bin/gradle
  cli/src/test/resources/ide-projects/gradle/repository/java/java/default/bin/java
Labels: enhancement, gradle, dependency

#1018 #1001: Introduce dependencies.json for jasypt
  cli/src/main/java/com/devonfw/tools/ide/tool/jasypt/Jasypt.java
  cli/src/test/resources/ide-projects/jasypt/_ide/urls/jasypt/jasypt/dependencies.json
Labels: enhancement, jasypt, dependency

#1048 #1047: fixes and cleanup of JUnits
  cli/src/test/java/com/devonfw/tools/ide/completion/CompleteTest.java
  cli/src/test/java/com/devonfw/tools/ide/context/IdeContextTest.java
  cli/src/test/resources/ide-projects/basic/project/home/environment.properties
Labels: test, windows, bugfix

#1016 #998: remove hardcoded dependecy to NPM and use dependencies.json instead
  cli/src/main/java/com/devonfw/tools/ide/tool/npm/Npm.java
  cli/src/test/resources/ide-projects/build/_ide/urls/npm/npm/dependencies.json
  cli/src/test/resources/ide-projects/npm/_ide/urls/npm/npm/dependencies.json
Labels: enhancement

#1055 #1053: fix setup #1044: setup rewritten in Java
  cli/src/main/java/com/devonfw/tools/ide/commandlet/InstallCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
  cli/src/main/java/com/devonfw/tools/ide/migration/v2025/Mig202502001.java
  cli/src/main/java/com/devonfw/tools/ide/tool/IdeasyCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/tool/repository/MavenRepository.java
  cli/src/main/package/setup
  cli/src/main/package/setup.bat
  cli/src/test/java/com/devonfw/tools/ide/context/AbstractIdeTestContext.java
  cli/src/test/java/com/devonfw/tools/ide/migration/v2025/Mig202502001Test.java
  cli/src/test/java/com/devonfw/tools/ide/tool/IdeasyCommandletTest.java
  cli/src/test/resources/ide-projects/install/project/home/.ide/.gitkeep
  cli/src/test/resources/ide-projects/install/project/home/.zshrc
  cli/src/test/resources/ide-projects/install/project/home/Downloads/ide-cli/IDEasy.pdf
  cli/src/test/resources/ide-projects/install/project/home/Downloads/ide-cli/bin/ide.bat
  cli/src/test/resources/ide-projects/install/project/home/Downloads/ide-cli/bin/ideasy.exe
  cli/src/test/resources/ide-projects/install/project/home/Downloads/ide-cli/functions
  cli/src/test/resources/ide-projects/install/project/home/Downloads/ide-cli/internal/eclipse-import.groovy
  cli/src/test/resources/ide-projects/install/project/home/Downloads/ide-cli/setup
  cli/src/test/resources/ide-projects/install/project/home/Downloads/ide-cli/setup.bat
  cli/src/test/resources/ide-projects/install/project/home/Downloads/ide-cli/system/.gitkeep
  cli/src/test/resources/ide-projects/install/project/settings/ide.properties
  cli/src/test/resources/ide-projects/install/project/workspaces/main/.gitkeep
Labels: enhancement, CLI, install, bugfix

#1062 #1061: fixed test and cover all OS (red/green pattern)
  cli/src/test/java/com/devonfw/tools/ide/tool/IdeasyCommandletTest.java
Labels: test, bugfix

#1064 #1060: ide status runs correct in folder c:/projects (d:/project)
  cli/src/main/java/com/devonfw/tools/ide/commandlet/StatusCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/context/AbstractIdeContext.java
  cli/src/test/java/com/devonfw/tools/ide/commandlet/StatusCommandletTest.java
Labels: bug, status

#1076 #1066 : Fixed typo in documentation
  documentation/advanced-tooling-mac.adoc
Labels: documentation

#1069 Improve XmlMergerTest to fail on errors
  cli/src/test/java/com/devonfw/tools/ide/merge/XmlMergerTest.java
  cli/src/test/resources/xmlmerger/advanced/result.xml
  cli/src/test/resources/xmlmerger/advanced/target.xml
  cli/src/test/resources/xmlmerger/advanced/template.xml
Labels: settings, bugfix, merger

#1057 #1033: Introduce dependencies.json for jmc
  cli/src/main/java/com/devonfw/tools/ide/tool/jmc/Jmc.java
  cli/src/test/resources/ide-projects/jmc/_ide/urls/jmc/dependencies.json
Labels: enhancement, jmc, dependency

#1071 #789: implement uninstall of IDEasy
  cli/src/main/java/com/devonfw/tools/ide/commandlet/UninstallCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/common/SimpleSystemPath.java
  cli/src/main/java/com/devonfw/tools/ide/os/WindowsHelper.java
  cli/src/main/java/com/devonfw/tools/ide/os/WindowsHelperImpl.java
  cli/src/main/java/com/devonfw/tools/ide/tool/IdeasyCommandlet.java
  cli/src/main/resources/nls/Help.properties
  cli/src/main/resources/nls/Help_de.properties
  cli/src/test/java/com/devonfw/tools/ide/commandlet/UninstallCommandletTest.java
  cli/src/test/java/com/devonfw/tools/ide/os/WindowsHelperMock.java
  cli/src/test/resources/ide-projects/uninstall/_ide/installation/.gitkeep
  cli/src/test/resources/ide-projects/uninstall/_ide/software/.gitkeep
  cli/src/test/resources/ide-projects/uninstall/_ide/urls/.gitkeep
  cli/src/test/resources/ide-projects/uninstall/project/home/.bashrc
  cli/src/test/resources/ide-projects/uninstall/project/home/.ide/.gitkeep
  cli/src/test/resources/ide-projects/uninstall/project/home/.zshrc
  cli/src/test/resources/ide-projects/uninstall/project/settings/ide.properties
  cli/src/test/resources/ide-projects/uninstall/project/workspaces/main/.gitkeep
Labels: enhancement, uninstall

#1072 #1065: fix NPE on upgrade (maven repo access)
  cli/src/main/java/com/devonfw/tools/ide/context/IdeContext.java
Labels: bugfix

#1083 #1082: fixed start scripts for linux/mac
  cli/src/main/java/com/devonfw/tools/ide/commandlet/AbstractUpdateCommandlet.java
Labels: macOS, linux, bash, bugfix, create

#1080 #944: improve handling of outputMessages in ProcessContextGitMock
  cli/src/test/java/com/devonfw/tools/ide/context/ProcessContextGitMock.java
Labels: enhancement, test, internal

#1078 #929: optimize upgrade settings using file access
  cli/src/main/java/com/devonfw/tools/ide/commandlet/UpgradeSettingsCommandlet.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccess.java
  cli/src/main/java/com/devonfw/tools/ide/io/FileAccessImpl.java
Labels: enhancement

#978 #420: Create Windows Installer with WixToolset
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
  CHANGELOG.adoc
  cli/pom.xml
  windows-installer/Package.en-us.wxl
  windows-installer/Package.wxs
  windows-installer/README.adoc
  windows-installer/WixUI_IDEasySetup.wxs
  windows-installer/assets/LICENSE.rtf
  windows-installer/assets/banner.bmp
Labels: windows

#1090 #1087: Fix MSI Installation with setup.bat workaround
  cli/pom.xml
  windows-installer/Package.wxs
Labels: windows, install, bugfix

#1091 #420: exclude mac and linux content from MSI
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
Labels: enhancement, windows, install

#1094 #1093: do not fail on remove of variable if not defined
  cli/src/main/java/com/devonfw/tools/ide/os/WindowsHelperImpl.java
Labels: windows, bugfix, uninstall

#1092 #420: ensure os and architecture in filename
  cli/pom.xml
Labels: windows, install
